[2016-08-24 13:31] chrisblossom opened #1 "Idea"
Just a thought, would it be more efficient to fork [gajus/eslint-plugin-flowtype](https://github.com/gajus/eslint-plugin-flowtype) and tweak for Typescript from there? I would think a lot of rules would work both ways.

[2016-08-24 16:10] nzakas commented on #1
It could be, I just don't have the energy to do that at the moment. If you're interested, in seeing what could work for TypeScript, I'd happily review some PRs.

[2016-09-08 20:01] JamesHenry opened #2 "Manually mark TypeScript-specific nodes as used"
From @nzakas:

Example of decorators can be seen here: https://github.com/eslint/typescript-eslint-parser/issues/55

[2016-09-12 20:37] dannyfritz opened #5 "[META] TSLint Compatibility"
- [x] [array-type](https://palantir.github.io/tslint/rules/array-type/) (#211 )
- [x] [adjacent-overload-signatures](http://palantir.github.io/tslint/rules/adjacent-overload-signatures/) (#37 )
- [x] [ban-types](https://palantir.github.io/tslint/rules/ban-types/) (#181 )
- [ ] [callable-types](https://palantir.github.io/tslint/rules/callable-types/)
- [x] [class-name](https://palantir.github.io/ts

[2016-10-09 17:39] oreqizer opened #7 "[Error] Decorated getter error"
Hi guise,

I'm getting an error if I'm using a decorated getter (using Mobx). Information is in the attached *npm debug*. This is the code sample:

<img width="553" alt="screen shot 2016-10-09 at 19 35 14" src="https://cloud.githubusercontent.com/assets/11172408/19222402/d74de310-8e57-11e6-8a7f-1aa3a527fc88.png">

If I remove the `@computed` thingie, or the `get` thingie, it works. It breaks when

[2016-10-09 17:40] oreqizer commented on #7
oh god, wrong repo 😅 wanted `typescript-eslint-parser`

[2016-10-09 17:40] #7 closed

[2016-10-13 22:16] JamesHenry commented on #2
This will now be split into two parts:

- [ ] a new rule in this plugin to manually mark certain things as used
- [ ] extending a new ESLint fork of escope to traverse into typeAnnotations

[2016-10-17 17:40] nzakas commented on #2
@JamesHenry the second part is what will be handled in ESLint directly, not in escope (or a fork).

[2016-10-18 17:42] JamesHenry commented on #2
@nzakas Ah sorry, I think I misunderstood this description https://github.com/eslint/eslint/issues/7129

[2016-10-27 16:59] PinkFLoyd92 opened #11 "Unnet peer dependency typescript@1.7.3"
I cannot install the plugin, it asks the for a lower version of my actual typescript version. plz help :(
![typescript](https://cloud.githubusercontent.com/assets/8844096/19777190/b1e6f394-9c3c-11e6-9100-792bbd562bf7.jpg)

[2016-10-29 21:20] nzakas commented on #11
I'm sorry, you can't use the plugin with TypeScript 2.0 yet. The TypeScript ESLint parser hasn't yet been updated for TypeScript 2.0. Until then, you won't be able to use ESLint with TypeScript 2.0.

[2016-10-29 21:20] #11 closed

[2016-11-12 07:50] madcampos opened #12 "Please update npm package"
The rules on the npm package are outdated (only 2) and in GitHub there are more.
Please update the package on npm.

[2016-11-14 19:29] nzakas commented on #12
We'll be updating the plugin when we feel it's time for a new release. We're not quite there yet. Stay tuned!

[2016-11-14 19:29] #12 closed

[2017-01-01 16:41] JamesHenry commented on #1
Closing as this does not have any action item associated with it. As Nicholas says, any contributions are more than welcome :)

[2017-01-01 16:41] #1 closed

[2017-01-05 04:43] dannyfritz commented on #5
@weirdpattern Any of the unchecked items are up for grabs :smile: . My work got unexpectedly busy and I won't be active on this for a little while.

[2017-01-05 04:48] weirdpattern commented on #5
@dannyfritz alright, I will start working on some of these... still deciding which ones though...
I will let you know, thanks!

[2017-01-05 08:41] TrySound opened #17 "interface and type style"
`interface` and `type` definitions accepts both and comma and semicolon separators

[code]
[code]

We need to add a rule for this to make code more consistent.

[2017-01-06 02:14] weirdpattern commented on #17
Not sure if this has to be triaged or not, but I would like to give it a try if nobody is working on this.

[2017-01-06 23:35] weirdpattern commented on #17
Interesting, seems @JamesHenry discussed this with the TypeScript team a few months back...
[here](https://github.com/Microsoft/TypeScript/issues/10730#issuecomment-245443010)

Assuming this is still needed, correct @JamesHenry?

[2017-01-11 11:04] unlight opened #18 "Decorators are not marked as used"
[code]
[code]

[2017-01-12 15:11] NeoReyad commented on #18
This has been mentioned in issue https://github.com/eslint/typescript-eslint-parser/issues/77. I believe we would have to modify the eslint rule itself to better accommodate decorators.

[2017-01-12 16:34] weirdpattern commented on #18
This might be a duplicate of #2
There is some work already done (#3 and #9)

[2017-01-12 17:01] NeoReyad commented on #18
Does this mean  the rule "typescript/no-unused-vars" has to be enabled for interfaces and decorators to be marked as used? Am I reading https://github.com/nzakas/eslint-plugin-typescript/pull/9 correctly?

[2017-01-12 19:11] weirdpattern opened #19 "no-angle-bracket-type-assertion fails when typeAnnotation is not a reference type."
the following code throws an exception when no-angle-bracket-type-assertion is enabled

[code]

but it works with reference types

[code]

Already have a PR for this

[2017-01-12 19:30] weirdpattern commented on #18
you just need to include the plugin and the original ESlint "no-unused-vars" rule.

1.
![1](https://cloud.githubusercontent.com/assets/19519411/21904963/34dc13ea-d8cb-11e6-9a63-801720d6c1e3.png)

2.
![2](https://cloud.githubusercontent.com/assets/19519411/21904964/34dc6930-d8cb-11e6-8811-4a5d40e395f4.png)

3.
![3](https://cloud.githubusercontent.com/assets/19519411/21904961/34d8e9fe-d8cb-11e6-908e

[2017-01-12 19:35] weirdpattern commented on #18
you just need to include the plugin and the original ESlint "no-unused-vars" rule.

1.
![1](https://cloud.githubusercontent.com/assets/19519411/21905121/fed560f2-d8cb-11e6-8c3b-921d17c2c678.png)

2.
![2](https://cloud.githubusercontent.com/assets/19519411/21905123/fedbc38e-d8cb-11e6-9a66-80fb34832340.png)

3.
![3](https://cloud.githubusercontent.com/assets/19519411/21905122/fed982ea-d8cb-11e6-899a

[2017-01-12 19:56] NeoReyad commented on #18
Thanks @weirdpattern. I can confirm it works with the typescript/no-undef-vars rule. The version in npm is quite old and should be updated. I had to tell npm to pull from master to get it to work.

npm install git+https://github.com/nzakas/eslint-plugin-typescript.git

[2017-01-13 23:49] weirdpattern commented on #5
I'm working on no-parameter-properties and no-internal-modules...

[2017-01-14 16:58] #19 closed

[2017-01-14 17:08] JamesHenry commented on #17
Sure, a rule for this would be great! Thanks guys

[2017-01-14 17:10] weirdpattern commented on #17
alright, I already have some work done, I will create the PR this weekend

[2017-01-14 17:15] JamesHenry commented on #18
Sorry about that @NeoReyad, we'll look to get a release out once the latest PRs go in!

[2017-01-20 14:14] dannyfritz commented on #5
Huge shoutout to @weirdpattern for taking us over the 50% line! 🎉 🎉 🎉 🎉 🎉 🎉

[2017-01-25 03:15] weirdpattern commented on #5
Update

no-parameter-properties is currently blocked due to TypeScript Parser [bug 143](https://github.com/eslint/typescript-eslint-parser/issues/143). I have a solution, but I'm waiting on @nzakas to confirm how the wants to proceed.

no-inferrable-types is currently blocked due to TypeScript Parser [bug 146](https://github.com/eslint/typescript-eslint-parser/issues/146). PR is being reviewed.

S

[2017-02-04 00:13] dannyfritz commented on #5
@weirdpattern can you add the compatibility section into #23?

[2017-02-04 00:18] weirdpattern commented on #5
of course, not in front of my computer at the moment, but will do it tonight...

[2017-02-04 03:33] weirdpattern commented on #5
@dannyfritz done!

[2017-02-23 23:08] unlight opened #24 "type-annotation-spacing rule doesn't work for class properties"
[code]

[2017-02-27 11:57] luchsamapparat opened #25 "Rules missing in current NPM release"
Is there a timeline when we can expect the rules documented in the README.md to be released via NPM? Currently, when I install via NPM I only get explicit-member-accessibility and type-annotation-spacing.

[2017-02-27 14:55] soda0289 commented on #25
@JamesHenry Could we get a release

[2017-02-27 15:00] JamesHenry commented on #25
I do not have access to that, and I'm not sure how @nzakas has been handling the releases given it is under his personal account. I will follow up with him.

Until then, npm installing from github should work for you @luchsamapparat

[2017-02-27 15:02] soda0289 commented on #25
@JamesHenry Sorry to bother you then, will wait for @nzakas.

[2017-02-27 15:03] weirdpattern commented on #25
I think it will be a good idea to update the typescript parser version before we release.
Also, there are a couple of rules that still need approval :)

[2017-02-27 21:45] soda0289 opened #26 "no-explicit-any Rule does not check generic type"
For example:

[code]

Maybe we can include an extra option?

[2017-02-27 21:46] soda0289 commented on #24
It also needs to check parameter properties in constructors as well.

[2017-02-27 22:44] soda0289 commented on #26
It also never checks class properties or constructor parameter properties.

[2017-03-04 08:59] mightyiam opened #27 "Some illegitimate failures?"
Travis run of [this pull request](https://github.com/mightyiam/cyclejs-web-components/pull/13) has some seemingly illegitimate failures.

[2017-03-04 22:26] soda0289 commented on #27
You will have to post a code sample to reproduce the error and output from eslint. How do you know there is an issue with the plugin and not the parser?

Check my comment here for what I think the issue could be: https://github.com/eslint/typescript-eslint-parser/issues/179

[2017-04-12 13:35] flying-sheep commented on #25
hi, any news? i’d like to see the `no-unused-vars` thing in a release

[2017-04-19 15:21] mattdell commented on #25
Same here. I'd like to use `no-unused-vars` but work only allows us to proxy to npmjs.org.

Need a release!

[2017-05-10 01:20] kayneb commented on #25
Likewise!!! Wanting to use `no-unused-vars` too.

[2017-05-10 03:26] soda0289 commented on #25
Will try and get a new release this week. The ESLint team is working on creating an automated process for future releases.

[2017-05-11 13:33] soda0289 commented on #25
Unfortunately it is not possible for the ESLint team to push a release to npm. @nzakas is currently taking a break from this project for health reasons and there might be a further delay until another release.

In the mean time work can still continue work here and maybe create a fork that we can push to npmjs or release a tarball of the current master branch.

[2017-05-11 16:12] corbinu commented on #25
@soda0289 I am happy to do maintain a release fork @corbinu/eslint-plugin-typescript until nzakas is feeling better if that is cool with you all?

[2017-05-11 20:21] soda0289 commented on #25
That would be fine with me.

@JamesHenry Would this be an acceptable solution, should we update the README here to indicate the current situation?

[2017-05-11 20:48] corbinu commented on #25
published as version 0.2.0

[2017-05-11 21:05] corbinu commented on #25
@soda0289 whats your npm username is it the same? I will add you with publish rights also.

[2017-06-03 08:12] OliverJAsh opened #28 "no-unused-vars in type checked JS file"
When using TypeScript’s type checking of JS files with the `checkJs` flag, ESLint will complain when an identifier is unused, when in fact it is used for type checking within a JSDoc:

[code]

I understand that this plugin will silence these errors for TypeScript files: https://github.com/nzakas/eslint-plugin-typescript/blob/420e9a96d612a49949f2a17c559e8a3ad0b00e7d/docs/rules/no-unused-vars.md

Ca

[2017-06-08 22:32] corbinu opened #29 "Broken rule: interface-name-prefix"
Looks like some of the changes in either the parser or eslint 4 broke one of the rules here.

It appears to be when trying to parse any interface

@soda0289 Thoughts?

- eslint: 4.0.0-rc1
- plugin version: @corbinu/eslint-plugin-typescript@0.2.0
- parser: 3.0.0

[code]

[2017-06-09 13:16] soda0289 commented on #29
There have been several breaking changes recently to typescript-eslint-parser. I'm not surprised the plugin has stopped working. The typescript interface node has changed completly that is probably what is causing this error. I will take a look this weekend and try to fix everything.

[2017-06-09 13:40] corbinu commented on #29
@soda0289 Thanks take your time just wanted to let you know. Also did you want me to add you with publishing writes on my npm package for this repo?

[2017-06-09 13:54] soda0289 commented on #29
Yea sure, I use the same name as github. I'm still not sure if we should fork this whole repo or just publish the package under your prefix, but I think for now we should continue to use this repo.

[2017-06-09 14:02] corbinu commented on #29
Yes for sure if it we need I am totally ok with just renaming my fork something else but really hoping we don't have to.

[2017-06-09 14:11] corbinu commented on #29
@soda0289 What if I publish my fork as eslint-plugin-ts. We can still use this repo for now and switch over to mine if we have to. Worst case we mark eslint-plugin-ts as deprecated and redirect back to eslint-plugin-typescript

[2017-06-09 14:17] soda0289 commented on #29
Yea that might work better, we could also use an organization name like `eslint-typescript`, but I think its simpler to just use `eslint-plugin-ts`. I'll post some PR's soon and bump the version as well in this repo.

Thanks for all the help!

[2017-06-09 14:37] corbinu commented on #29
No problem just wish I had more time to help more

[2017-07-11 11:30] JamesHenry commented on #25
We got all the permissions straightened out, I have just published `eslint-plugin-typescript@0.3.0`

[2017-07-11 11:30] #25 closed

[2017-07-11 11:32] JamesHenry commented on #29
@corbinu was this addressed by your PR? (and therefore fixed in 0.3.0)

[2017-07-11 11:39] JamesHenry commented on #28
Sorry for the delay, @OliverJAsh. I think a feature like this would be a ways off.

I personally would advise that you use the relevant options in the TypeScript compiler to enforce "no unused" behaviour, rather than using ESLint for that purpose.

The TSC options are `noUnusedLocals` and `noUnusedParameters`. As this is a strong solution to the issue, I am going to close it for now.

[2017-07-11 11:39] #28 closed

[2017-07-11 11:40] JamesHenry commented on #27
I am going to close this as no further information was provided

[2017-07-11 11:40] #27 closed

[2017-07-11 11:42] JamesHenry commented on #18
There are a couple of different workarounds for this, as previously referenced, and I have just released the latest work to npm, so I am going to close this.

[2017-07-11 11:42] #18 closed

[2017-07-11 11:45] #2 closed

[2017-07-11 12:42] mightyiam commented on #2
Fixed?

[2017-07-11 13:01] JamesHenry commented on #2
This issue was very out of date and therefore a misleading reference for people.

The recommended way to enforce "no unused" behaviour is still to use the typescript compiler itself. noUnusedParameters and noUnusedLocals are the relevant options.

If you experiencing specific problems with the plugin then please create new issue(s) for them.

[2017-07-11 13:05] corbinu commented on #29
@JamesHenry Yep all existing rules now work :)

[2017-07-11 16:29] #29 closed

[2017-08-03 15:44] OliverJAsh opened #33 "Improve documentation for `typescript/no-unused-vars`"
There are several use cases `typescript/no-unused-vars` does not yet support, such as `type` declarations:

[code]

Would it be possible to track the status of this somewhere in the documentation? The docs for `typescript/no-unused-vars` do not make any mention of this.

I would be happy to raise a PR, but I don't know the full details of what is and isn't supported.

[2017-08-08 05:21] weirdpattern commented on #26
Submitted a new PR to fix this issue.
I added a couple of extra scenarios (see PR) that were not included/mentioned in this bug.

[2017-08-09 05:44] weirdpattern commented on #24
Submitted a new PR to fix this issue.
Extended the rule by adding options to control the spacing before and after the colon, so now the rule supports more than one spacing pattern (spaces before and after; spaces before, but not after; etc).

[2017-08-09 19:47] #26 closed

[2017-08-09 19:48] #24 closed

[2017-08-10 02:44] weirdpattern commented on #5
Hi @dannyfritz can you mark member-ordering as completed?
It was merged this afternoon... Thanks!

[2017-08-10 03:09] dannyfritz commented on #5
Thanks for you work!

[2017-08-11 06:22] weirdpattern commented on #33
@JamesHenry We can close this issue now 😃

[2017-08-11 09:40] OliverJAsh commented on #33
Actually I don't think we can? My PR added this rule to the list, but it doesn't add more detail as per this issue.

[2017-08-12 14:38] j-f1 commented on #5
How about [`class-name`](https://palantir.github.io/tslint/rules/class-name) ([TSLint rule source](https://github.com/palantir/tslint/blob/6b6f43ad17bfe186fea300eb327a2e0838f36e51/src/rules/classNameRule.ts))?

[2017-08-12 15:48] j-f1 opened #41 "type-annotation-spacing doesn’t work for function typedefs"
This throws an error when it shouldn’t:

[code]

Maybe there should be a separate set of options for the `:` annotation and the `=>` annotation, with the default being a space after but not before the `:` and a space before and after the `=>`.

[2017-08-12 16:30] weirdpattern commented on #17
ok, this time is for real... I have some code, just need to complete the documentation on this rule.
Will do this if not tonight, tomorrow night

[2017-08-12 16:30] weirdpattern commented on #41
I will take a look, thanks for reporting this!

[2017-08-12 22:48] weirdpattern commented on #41
I'm adding an overrides option to the configuration that will allow this.
Working on the test, I will submit a new PR tonight

[2017-08-13 00:25] nevir opened #42 "type-annotation-spacing fails for "as T" syntax"
`type-annotation-spacing` doesn't play nice with `as T` type assertions:

[code]

[2017-08-13 03:14] weirdpattern commented on #42
This seems like another of those edge cases for the TypeAnnotation handler.
I will review this tomorrow and include it in the overrides that I just added in PR #43

[2017-08-13 17:40] j-f1 opened #45 "member-ordering fails for bound methods"
With the default configuration, this fails:

[code]

It claims that the property `boundMethod` should be placed before the constructor. To fix this, the code in `getNodeType` should check if the value of the property is a `FunctionExpression` or `ArrowFunctionExpression`, then assume that it is a method.

[2017-08-13 19:26] nevir commented on #42
Thanks!

On Sat, Aug 12, 2017, 20:14 Patricio Trevino <notifications@github.com>
wrote:

[2017-08-13 20:22] weirdpattern commented on #45
I assume I should also check type literals and interfaces, in which case is not a `FunctionExpression` or `ArrowFunctionExpression`, but a `TSFunctionType`

[code]

Working on this right now...

[2017-08-13 20:44] weirdpattern commented on #45
We can probably even include new options to sort these type of properties... for now I will concentrate in fixing this, then we can discuss expanding the rule even further...

[2017-08-16 04:45] weirdpattern commented on #17
PR #48 has been submitted

[2017-08-16 04:50] weirdpattern commented on #5
All, I'm going to start working on no-parameter-properties.

[2017-08-16 17:49] spencerhakim opened #49 "Unhandled exception in adjacent-overload-signatures"
Code:
[code]

Stack:
[code]

[2017-08-16 17:57] weirdpattern commented on #49
@spencerhakim thanks for reporting this issue.. I think I know what's going on...
I will work on this

[2017-08-17 04:25] weirdpattern commented on #49
OK, I added logic to handle exported types.
I also added some missing expressions (default exports and construct signatures in interfaces).

[2017-08-17 04:35] weirdpattern opened #51 "Adding a pre-commit hook to execute lint and tests"
I think we all could benefit from having a pre-commit hook to make sure everything is in order before committing our code. If everybody is ok with this, I would like to add [pre-commit](https://www.npmjs.com/package/pre-commit) to the project...

Of course I'm open to suggestions in case anyone has a better idea 😄

[2017-08-17 11:23] j-f1 commented on #51
You might also want to take a look at [`husky`](https://www.npmjs.com/package/husky), too.

[2017-08-17 18:22] weirdpattern commented on #51
Even better, thanks for letting me know @j-f1
I will do this tonight

[2017-08-18 12:53] #45 closed

[2017-08-18 12:53] #49 closed

[2017-08-18 12:55] #41 closed

[2017-08-19 03:06] weirdpattern commented on #42
hey @JamesHenry you can close this bug too, it was merged in #43

[2017-08-19 04:48] weirdpattern commented on #5
Now working on no-mergeable-namespace and no-non-null-assertion...

[2017-08-19 07:30] corbinu commented on #5
@weirdpattern sweet thanks so much for all the work your doing!

[2017-08-19 15:33] #42 closed

[2017-08-19 17:41] weirdpattern commented on #5
I was reviewing the remaining rules, I believe #48 is a superset of [type-literal-delimiter](https://palantir.github.io/tslint/rules/type-literal-delimiter/)... I mean it does something similar, and includes interfaces too... thoughts?

[2017-08-19 17:50] corbinu opened #54 "no-explicit-any Broken in typescript paser 5.0.0 and greater"
Just a note looks like no-explicit-any has been broken by typescript paser 5.0.0

[2017-08-19 17:54] weirdpattern commented on #54
maybe is time to upgrade the parser in our package.json?
Otherwise we will have to fix it in a separate branch...

[2017-08-19 18:03] corbinu commented on #54
@weirdpattern Yes that was what I was going to do a PR for. Then saw the errors. I would try to fix but I am at RustConf right now

[2017-08-19 18:19] weirdpattern commented on #54
The newer version of the parser removed the node GenericTypeAnnotation in favor of a TSReferenceType for both generics and non-generics...

[code]

This code should take care of this... we could remove the GenericTypeAnnotation, but I think is best if we leave it there for backwards compatibility...

I've verified both setups work properly... just trying to save you some time, enjoy the conference

[2017-08-19 18:42] corbinu commented on #54
@weirdpattern Thanks so much opening a PR

[2017-08-20 00:34] #54 closed

[2017-08-20 00:47] weirdpattern commented on #17
@JamesHenry this can be closed now that #48 has been merged ☺️

[2017-08-20 00:52] #17 closed

[2017-08-20 03:47] dannyfritz commented on #5
Yes, I do agree the functionality is met with `member-delimiter-style`. Thanks!

[2017-08-20 03:51] dannyfritz commented on #5
It is worth someone else going through the TSLint rules and seeing if you agree I grabbed all the relevant TS specific ones. https://palantir.github.io/tslint/rules/

[2017-08-20 11:44] j-f1 commented on #5
From the list above:

TypeScript-specific
- [ ] [ban-types]
- [ ] [no-misused-new]
- [ ] [no-object-literal-type-assertion]

Maintainability
- [ ] [no-mergeable-namespace]

Style
- [ ] [array-type]
- [ ] [callable-types]
- [ ] [interface-over-type-literal]
- [ ] [no-parameter-properties]
- [ ] [no-reference-import]

[ban-types]: https://palantir.github.io/tslint/rules/ban-types
[no-misused-new]: h

[2017-08-20 13:31] weirdpattern commented on #5
Hey @j-f1, this is great! One question though, some of these are common to both JavaScript (es5, es6, etc) and TypeScript, so not sure if they should be defined here or at the eslint level... I know eslint already offers some rules to validate jsdoc and to restrict syntax like for-in...

[2017-08-20 13:55] j-f1 commented on #5
The difference between ESLint’s `valid-jsdoc` and TSLint’s `jsdoc-format` is that TSLint just validates the syntax; whereas ESLint requires defining parameter and return type info.

[2017-08-20 15:42] dannyfritz commented on #5
It might be worth adding those to this list and opening a pr in eslint to close it?

[2017-08-20 15:43] dannyfritz commented on #5
I think the line that should be drawn for including in this repo is: can this rule be used without typescript?

[2017-08-20 22:41] aboyton opened #56 "Converting rules to be in TypeScript"
I was wondering people's thoughts of switching this repository over to using TypeScript. Personally I find it much easier to code using TypeScript, especially on an unfamiliar codebase. One of the nice things about developing rules on TSLint is that you can write rules in either TypeScript or JavaScript.

I was thus curious had we considered allowing people to write rules with TypeScript?

[2017-08-20 22:46] aboyton opened #57 "Can rules use type information in their checking?"
One of the great features of TSLint is that you can use type information as part of your lint rules. https://palantir.github.io/tslint/usage/type-checking/

Is this possible with ESLint? An example of a rule that uses this (in addition to the 20 [core rules](https://palantir.github.io/tslint/rules/) marked "Requires Type Info") is the [this custom lint rule](https://github.com/cartant/rxjs-tslint-

[2017-08-20 23:42] j-f1 commented on #56
Things I encountered when trying to write custom ESLint rules in TypeScript for desktop/desktop:

* There’s no complete typings for the AST. (there are typings for ESTree in `@types/estree`, but they don’t cover ESLint/espree-specific changes nor do they cover the TypeScript nodes)
* There’s no `@types` for ESLint. This makes it hard to use `context.report()`
* I’m still looking for a way to requi

[2017-08-21 16:38] JamesHenry commented on #57
I created a working POC of this almost exactly a year ago: https://github.com/eslint/typescript-eslint-parser/issues/61#issuecomment-241579213

We have a bit more infrastructure available to us in ESLint parsers than we did then, so it should definitely be possible.

I am actively working with the rest of the ESLint Team to improve parser integrations and I will make sure this is considered.

[2017-08-21 21:47] nevir opened #58 "member-delimiter-style single-line override"
Today, with `member-delimiter-style: error`:

[code]

Suggestion: add an override/option to disable this check for single line type signatures

[2017-08-21 21:56] weirdpattern commented on #58
You can use `requireLast` to ignore these...

[2017-08-21 22:13] aboyton commented on #57
Awesome. I knew I'd seen a comment of yours previously about a proof of concept about this but couldn't find it. Let me know how I can be helping with this.

[2017-08-21 22:53] weirdpattern commented on #58
But yeah, I see the benefits of having a separate option for this.
I will work on this

[2017-08-21 23:19] nevir commented on #58
Well, but ideally it'd be required when the list is expanded

[2017-08-22 11:19] #58 closed

[2017-08-22 11:22] #51 closed

[2017-08-23 04:47] weirdpattern opened #61 "Type annotations not marked as used"
Type annotations are not marked as used by typescript/no-unused-vars, so eslint:recommended/no-unused-vars marks this as an error.

[code]

I know there is still a lot of work to do before we can say this rule is working as expected, but I think adding this won't hurt... current work is being tracked in the [typescript-eslint-parser repo](https://github.com/eslint/typescript-eslint-parser/issues/7

[2017-08-23 22:19] #61 closed

[2017-08-24 00:16] corbinu commented on #56
I think I am negative one on this one as much as I wish the eslint project was in TypeScript it is not and I think it is better to keep this project in line with the style of eslint as a whole for consistency :(

[2017-08-25 05:20] weirdpattern opened #63 "Rule adjacent-overload-signatures incorrectly marks a function call as misplaced"
The code must validate the name returned by the `getMemberName` function before storing it in the seen variables array. Nulls are not variables...

Error Message:
  All 'null' signatures should be adjacent.

[2017-08-26 05:49] weirdpattern opened #65 "Rule no-unused-vars does not validate ClassExpressions and Inheritance in interfaces"
There are a couple of test cases that were missing in this rule. I added some a few days ago, but found new ones (ClassExpressions and inheritance in interfaces with generics).

As I said before, I will keep improving this rule as I find new test cases...

[2017-08-26 20:03] #65 closed

[2017-08-26 20:05] #63 closed

[2017-08-28 00:35] aboyton commented on #56
There's definite advantages either way. There's something nice about using the same language as the rest of ESLint, and there's something nice about writing rules in the same language that they are running on. It definitely very common for tooling to be written in the language the tooling is for.

Obviously this is not my project, hence why I was asking the question and wondering what others think

[2017-09-12 21:26] nevir opened #69 "type-annotation-spacing gets confused about inlined type mappings (on members)"
With `typescript/type-annotation-spacing: error`, when running typescript-eslint-parser@8.0.0, the following fails:

[code]

It did not error on typescript-eslint-parser@7.0.0 (not sure if this should be logged on that repo, though?)

---

As a workaround:

[code]

[2017-09-13 07:30] weirdpattern commented on #69
I submitted two PRs, one to upgrade the parser and other dependencies in package.json and another to fix this issue and another issue I found affecting the rule with both 7.0.0/8.0.0 parsers.

Basically, the first colon in a class/interface/type property is ignore, making the following valid.

[code]

[2017-09-25 21:47] JamesHenry opened #74 "Breaking changes to some TSNode types coming in typescript-eslint-parser"
PR: https://github.com/eslint/typescript-eslint-parser/pull/388
Issue: https://github.com/eslint/typescript-eslint-parser/issues/386
Background: https://github.com/babel/babylon/pull/710

Should be very straightforward to track down any occurrences of the affected nodes and prefix them with `TS`

[2017-09-25 21:49] #69 closed

[2017-09-26 00:05] weirdpattern commented on #74
What's the timeline for this @JamesHenry?
I can work on this, but can't do it before the weekend, can we wait until then?

[2017-09-26 00:29] JamesHenry commented on #74
There shouldn't be any real pressure to update the parser in this codebase, it's not blocking any features/fixes etc

So even if the parser PR gets merged over the next few days, the plugin update can definitely wait a bit longer, just wanted to open the issue to give visibility

[2017-09-26 00:53] weirdpattern commented on #74
Understood, then I will work on this over the weekend, as you said this should be an easy fix...

[2017-10-03 03:25] weirdpattern commented on #74
Initial work in [weirdpattern/support-updated-ts-nodes](https://github.com/weirdpattern/eslint-plugin-typescript/tree/support-updated-ts-nodes).

To test:

[code]

I will update the parser package dependency (and any other) once work on [PR 388](https://github.com/eslint/typescript-eslint-parser/pull/388) has been completed and a new release of the parser has been published to npm.

[2017-10-03 03:39] weirdpattern commented on #33
@JamesHenry can we consider removing this rule in favor of TypeScript own flags [--noUnusedParameters and --noUnusedLocals]
(https://github.com/Microsoft/TypeScript/wiki/What%27s-new-in-TypeScript#flag-unused-declarations-with---nounusedparameters-and---nounusedlocals)?.

I think this rule is causing a lot of confusion and giving a lot of false/positives.
If we already get this out of box, then I

[2017-10-03 12:25] mightyiam commented on #33
I think that TypeScript did not include `noUnusedParameters` and `noUnusedLocals` in `strict` because they see them more as style things. I think they might even regret having these options at all, as they are supposed to be linting issues and not type issues.

[2017-10-06 12:48] pat841 opened #79 "0.8.0: type-annotation-spacing bug"
In 0.7.0, this line would pass lint checking:

[code]

In 0.8.0, I get this error:

where `(` in the error represents the first parenthesis after the `: `

[2017-10-06 13:24] j-f1 commented on #79
Thanks for reporting this!

Do these ones throw the error?

[code]

[2017-10-06 13:30] pat841 commented on #79
@j-f1

Using 0.8.0:
[code]
The issue with writing `() => PromiseLike<T> | PromiseLike<T>;` is because TypeScript assumes the union is for the arrow function result type and NOT the resolver type union.

[2017-10-06 15:13] weirdpattern commented on #79
@j-f1 are you working on this?
I think I know what's going on and will be happy to submit a PR to get this fixed

[2017-10-06 15:17] j-f1 commented on #79
@weirdpattern I’m kinda busy, so go ahead!

[2017-10-06 20:27] weirdpattern opened #81 "Refactor tests"
Work performed on this bug will try to standardize the way tests are written in this repository.
We will try to reduce the size of the test files by moving the parser declaration to the RuleTester constructor and grouping tests using the array syntax.

i.e.
[code]

I will work on this during the weekend

[2017-10-08 01:15] lostfictions opened #82 "no-unused-vars fails to mark interfaces as used when destructuring in eg. a function parameter"
With these versions:
[code]

and these rules:
[code]

and this test case:

`test.ts`
[code]

`test2.ts`
[code]

In `test.ts`, `ReproInterface` is incorrectly marked as unused. If the function parameter is not destructured, the warning goes away.

[2017-10-08 01:20] lostfictions commented on #33
I appreciate having a `no-unused-vars` linter rule because I may not necessarily want `tsc` to return an error (one that might, say, fail a CI build) on something that I might consider more of a warning. (And there's unfortunately no way to configure the severity of the TypeScript flags.)

[2017-10-08 01:56] weirdpattern commented on #82
Hi @lostfictions, thank you for reporting this. I will take a look at this some time tomorrow...

[2017-10-08 01:59] weirdpattern commented on #33
This is a very good point. I will continue working on this rule for as long as it's needed.

[2017-10-09 19:24] mightyiam opened #85 "Some space-infix-ops bug"
Sorry for submitting it like this, with a screenshot from the IDE. I tried creating a PR with a failing test case. That escalated quickly.

![screenshot_2017-10-09_22-19-39](https://user-images.githubusercontent.com/635591/31354758-370de856-ad40-11e7-919a-8d2d8d09a3e0.png)

[2017-10-09 19:52] mightyiam opened #86 "Call for help @ Goodness Squad X"
Copy-paste from https://github.com/eslint/typescript-eslint-parser/issues/391:

---

I'll be rallying this project and [eslint-plugin-typescript](https://github.com/nzakas/eslint-plugin-typescript)
at an open source contributing session, [Goodness Squad X](https://www.meetup.com/JavaScript-Israel/events/244024753/), October 18 (8 days from today), Tel Aviv, Israel, hosted by Wix.

I see this as a

[2017-10-21 15:15] #86 closed

[2017-10-27 19:31] tenshiemi commented on #33
What is the correct setting for this rule? If I'm understanding correctly, it should prevent ESLint from erroneously throwing these errors, but I can't for the life of me to get it to work and since it's not operating as a rule so much as a workaround it's not clear to me what value I should set it to.

[2017-10-27 19:36] weirdpattern commented on #33
Hi @tenshiemi, this rule extends (eslint/no-unused-vars)[https://eslint.org/docs/rules/no-unused-vars] to include TypeScript syntax.

You will need both defined in your eslint config to make it work. What I usually do is extend the eslint:recommended settings, then manually enable typescript/no-unused-vars

Hope this helps.

[2017-10-27 23:42] tenshiemi commented on #33
This is what I have both it throws a bunch of no-unused-vars and no-undef warnings:
[code]

[2017-10-27 23:50] weirdpattern commented on #33
@tenshiemi, we are still working on this rule, we keep finding scenarios that we missed and have to be included.
Could you please provide a snippet of the code that is failing?

[2017-10-27 23:53] tenshiemi commented on #33
@weirdpattern I just realized it works when I run `arc lint`, just not when I run eslint directly on a file, so that's a relief!

an example is
` 10:18  warning  'SearchTableState' is not defined                                                                                                  no-undef`
when there is `export interface SearchTableState {
    data: object[];
    searchText: string;
}`

[2017-11-05 10:54] wesleymostien opened #90 "[no-unused-vars] false positive with import used in type"
![screen shot 2017-11-05 at 11 53 30](https://user-images.githubusercontent.com/6223285/32414104-fb49889e-c21f-11e7-9faa-79ad82d36031.png)

As you can see in the screenshot, eslint reports an error on 'webpack' while it is used in a type notation.

[2017-11-06 17:43] novemberborn opened #92 "[member-delimiter-style] allow delimiter to be specified for single lines"
I have these type declarations:

[code]

I'd like to write them like:

[code]

However the `member-delimiter-style` configuration doesn't allow for single-line specific configuration.

My current options are `'{delimiter: 'none', requireLast: true, ignoreSingleLine: true}`.

I'd like to give this a try if folks think it's a good idea.

[2017-11-06 17:51] mightyiam commented on #92
So, currently, if `delimiter: 'none'` and `ignoreSingleLine: false` then you just can't use the single line syntax at all?

[2017-11-06 17:55] novemberborn commented on #92
Yup. And as I was going through my code, I noticed that's even more annoying when typing return values with say two object properties.

[2017-11-06 18:07] mightyiam commented on #92
How about:

- remove `ignoreSingleLine`
- a new `singleLineDelimiter`
  - it can't be `'none'`, because that doesn't make sense
  - it does not inherit the value of `delimiter`, because `delimiter` can be `'none'`
  - sane default value
    - perhaps `'ignore'`?

[2017-11-06 20:11] weirdpattern commented on #92
I like the approach suggested by @mightyiam

But you might not even need the 'ignore' option at all.
Just don't do any validation if singleLineDelimiter is not defined

[2017-11-16 12:52] j-f1 commented on #57
@JamesHenry any updates on this?

[2017-11-23 17:19] #79 closed

[2017-11-23 17:25] #82 closed

[2017-11-23 19:11] dwasyluk opened #96 "Support typescript indentation"
It doesnt seem like tslint indent is supported, which exposes things like interfaces to inconsistent spacing.

[2017-11-23 19:14] weirdpattern commented on #96
Hi @dwasyluk, thanks for submitting this issue. Could you please provide an example?
Any kind of documentation will also be very helpful (maybe a link to TSLint?)

[2017-11-23 19:17] weirdpattern commented on #74
@JamesHenry where are we on this?
I see some of the issues/PRs have already been merged.

[2017-11-24 14:25] #81 closed

[2017-11-29 07:52] bichikim opened #97 "typescript/member-ordering issue :"
## Eslint thinks a field below is field type or method type both.
### the filed is function type
* in class
[code]
[code]
 * in eslintrc.js
[code]
The field should be a filed not method

[2017-12-11 14:17] JamesHenry commented on #74
Thanks for your patience on this @weirdpattern! I have submitted a PR to prettier confirming the relevant changes there too, so we are basically good to go on this now I think.

Any problems getting the plugin updated?

[2017-12-11 16:04] weirdpattern commented on #74
No, shouldn't be a problem.
I will do it in the next couple of days, if not today....

[2017-12-11 16:12] JamesHenry commented on #74
Ok no problem, it will be a major version bump in the parser anyway so there shouldn't be any timing issues

[2017-12-11 17:29] weirdpattern commented on #74
If that is the case, shouldn't I wait until the parser has been updated so I can update the version in our package.json file?

[2017-12-11 17:32] j-f1 commented on #74
@weirdpattern You can just use a commit from GitHub to get the PR started, then switch to the npm version once the parser changes get released.

[2017-12-11 17:37] weirdpattern commented on #74
@j-f1 yeah that's how I did it when I implemented the changes. I was just hoping to avoid a second (or third) rebase/commit to my code... no biggie... I will keep doing what I did before (point to the commit) then update the version...

[2017-12-11 18:44] JamesHenry commented on #74
It's merged and I've released v10.0.0

[2017-12-11 19:52] weirdpattern commented on #74
Perfect, I will take it from here

[2017-12-12 00:01] weirdpattern commented on #74
Alrigth, it's done 😄

[2017-12-12 00:34] #74 closed

[2017-12-21 21:30] scottohara opened #101 "`no-useless-constructor` / `no-empty-function` with mixed JS & TS codebase"
(This issue was originally raised in https://github.com/eslint/typescript-eslint-parser/issues/418; and it was suggested that it would be more appropriately logged here, as it is not something that the parser can handle)

**What version of TypeScript are you using?**
2.6.2

**What version of `typescript-eslint-parser` are you using?**
9.0.0

**What code were you trying to parse?**

[code]

**What

[2017-12-22 02:58] scottohara opened #102 "`typescript/explicit-member-accessibility` false positive in mixed TS & JS codebase"
**What version of TypeScript are you using?**
2.6.2

**What version of typescript-eslint-parser are you using?**
9.0.0

**What version of eslint-plugin-typescript are you using?**
0.8.1

**What code were you trying to parse?**

[code]

[code]

[code]

**What did you expect to happen?**
No errors/warnings

**What happened?**

[code]

In a codebase that includes both JS and TS files, enabling the `t

[2017-12-24 03:10] scottohara commented on #102
Could this be addressed by simply checking that the source file name ends with `*.ts`, or would just checking the file extension be too naive?

e.g.
[code]

If so, I'd be happy to submit a PR to this effect.

[2018-01-08 04:48] xcatliu commented on #49
@weirdpattern Error occurred again:

Code:

[code]

Stack:

[code]

[2018-01-08 04:50] xcatliu commented on #49
A:
[code]

B:
[code]

A was fine but B got errors

[2018-01-17 18:46] ismail-syed opened #106 "typescript/type-annotation-spacing incorrectly flagging union types"
`typescript/type-annotation-spacing` is flagging the following code snippet:

[code]

With the following message:

[code]

I have the rule set to with default `'typescript/type-annotation-spacing': ['error']`. Is this a bug?

[2018-01-26 14:40] novemberborn opened #107 "Disallow implicit boolean casting of strings and numbers"
It'd be great to have a lint rule that disallows (possible) strings and numbers from being implicitly converted to booleans:

[code]

Besides `if` statements this would apply to ternary statements as well as `&&`, `||` and `!` operators.

For the above examples passing code could be:

[code]

I can see a stricter version of this rule which enforces explicit conversions even if a value can only be

[2018-01-26 16:11] j-f1 commented on #107
We’re interested in doing this in GitHub Desktop: https://github.com/desktop/desktop/issues/3538. I tried to add a rule in https://github.com/desktop/desktop/pull/3550, but the type information available was limited, and @iAmWillShepherd suggested that we try to write this rule with TSLint instead.

[2018-01-27 12:41] novemberborn commented on #107
I suppose you'd need to use the [Language Service API](https://github.com/Microsoft/TypeScript/wiki/Using-the-Language-Service-API) to access accurate type information, especially when you're accessing properties that were defined in a separate file. Not sure how easy it'd be to integrate that into ESLint's lifecycle.

[2018-02-22 17:50] #102 closed

[2018-02-26 18:00] keplersj opened #109 "Add default, recommended config"
Similar to other ESLint plugins like this ([flowtype](https://github.com/gajus/eslint-plugin-flowtype#shareable-configurations), [react](https://github.com/yannickcr/eslint-plugin-react#shareable-configurations), etc.) it would be really helpful if this plugin exported shareable configs. Perhaps configs aiming for parity with [TSLint's built in configs](https://palantir.github.io/tslint/usage/conf

[2018-02-26 18:23] mightyiam commented on #109
BTW, https://www.npmjs.com/package/eslint-config-standard-with-typescript

[2018-02-26 18:34] mightyiam commented on #85
Is this fixed by now, maybe?

[2018-03-04 15:47] searls opened #110 "Confused by no-undef errors on type declarations"
I'm sure this is me doing it wrong, but I'm a bit confused about how to proceed. I'm invoking this plugin with standard.js via:

[code]

If my module looks like this:

[code]

I get all of these errors:

[code]

I would have figured this plugin's job would be to override the eslint no-undef rule, but to be honest I'm just a bit confused by all the moving parts. Any thoughts would be appreciated.

[2018-03-04 18:01] mightyiam commented on #110
It's a known bug. As a workaround, just disable this rule. It is not necessary, anyway, because TypeScript guards you from that.

[2018-03-04 18:42] searls commented on #110
Ok, thanks. So I suppose that means there's just no practical way to lint typescript with standard (which isn't configurable)?

[2018-03-04 19:01] mightyiam commented on #110
@searls oh, bro. Maybe try my library? https://github.com/mightyiam/eslint-config-standard-with-typescript/

[2018-03-04 21:28] searls commented on #110
(I didn't mean to come across as short, I just remember spending an hour trying to get that eslint configuration to work before giving up—if you know of a minimal example app that uses it I'd be willing to try again)

[2018-03-05 11:20] mightyiam commented on #110
https://github.com/mightyiam/tsconfigs
https://github.com/mightyiam/nyc-config-100
https://github.com/cycle-components/pick-path-router
https://github.com/mightyiam/snabbdom-shields-badge
https://github.com/mightyiam/shields-badge-data
https://github.com/mightyiam/pick-path

[2018-03-05 14:36] searls commented on #110
Thanks @mightyiam!

[2018-03-06 00:04] nevir opened #111 "Rule Idea: generic-type-naming"
Proposal:

---

# Enforces naming of generic type variables. (generic-type-naming)

It can be helpful to enforce a consistent naming style for generic type variables used within a type. For example, prefixing them with `T` and ensuring a somewhat descriptive name, or enforcing Hungarian notation.

## Rule Details

This rule allows you to enforce conventions over type variables. By default, it does

[2018-03-08 09:05] laibulle opened #112 "[no-unused-vars] with React"
Hello,

I have several false positive __no-unused-vars__. I saw several issues related to __no-unised-var__ but I am not sure that it is related.

Did I missed something in my configuration ?

Best regards

__package.json__
[code]

__Dashboard.tsx__
[code]

__.eslintrc.json__
[code]

__Linter result__
[code]

[2018-03-09 12:51] bow3nwang commented on #49
at adjacent-overload-signatures.js line 47
[code]
still throw exception.
Somdtimes member.id is null.

[2018-03-11 14:59] macklinu commented on #112
From what I can tell, `RouterAction` is actually unused, but `Dispatch` and `RootState` are used as types.

It doesn't look like your `eslintrc.json` has included `eslint-plugin-typescript`. If you make the following changes, do the unused variable false-positives go away?

**`.eslintrc.json`**
[code]

[2018-03-11 16:03] macklinu commented on #106
If you change `['error']` to `'error'`, does ESLint report an error?

[2018-03-11 16:30] macklinu commented on #5
`no-non-null-assertion` can be checked in the original list now that #108 has been merged.

[2018-03-11 21:40] macklinu commented on #85
[`space-infix-ops`](https://eslint.org/docs/rules/space-infix-ops) is present in the ESLint core, not this plugin. I'm not sure what the proper next step is, but I would guess that this issue should be opened in the ESLint repo. The only slightly related issue I could find to this (type annotations + space-infix-ops) is https://github.com/eslint/eslint/issues/5211.

[2018-03-11 21:46] macklinu commented on #90
I added the following test locally as a valid test case, and all tests passed:

[code]

Nothing in that snippet is being reported as unused. Are you still experiencing this issue with the latest version of eslint-plugin-typescript, and if so, could you please include your ESLint config?

[2018-03-11 22:25] macklinu commented on #101
I'm curious what the proper solution is here. Should these rules be implemented in this plugin to support TypeScript's constructor syntax, since `constructor(private name: string) {}` is the equivalent of:

[code]

I'd like to help out, but I'm not sure I understand what the next steps should be.

[2018-03-11 22:29] corbinu commented on #101
@macklinu

Yes the eslint rule should be forked into this plugin and fixed to understand TypeScript just like https://github.com/nzakas/eslint-plugin-typescript/blob/master/docs/rules/no-unused-vars.md

[2018-03-11 22:33] macklinu commented on #101
Cool, thanks for that info, @corbinu!

[2018-03-11 22:40] macklinu commented on #85
I'm thinking, based on https://github.com/nzakas/eslint-plugin-typescript/issues/101#issuecomment-372155440, that we'd need to fork the `space-infix-ops` rule into this plugin and handle this test case.

[2018-03-13 16:04] macklinu commented on #97
According to the rule's current implementation, changing the code to look like this will resolve the linter error:

[code]

Based on the rule configuration, I would expect to have the private fields located next to each other, which I believe is the original intention of this issue.

Could a contributor/collaborator please chime in and confirm if this is a bug or expected behavior? If it's a bug,

[2018-03-13 16:33] macklinu commented on #106
The code snippet is valid in the test suite (diff below of the passing test):

[code]

If this is still reproducible for you, could you please include your ESLint configuration as well? Thanks!

[2018-03-13 16:34] macklinu commented on #110
@searls did you find a resolution to your issue?

[2018-03-14 18:16] ismail-syed commented on #106
I left `['error']` as it was before and it looks like this isn't flagging our code anymore.
Strange :/

[2018-03-14 18:16] #106 closed

[2018-03-23 00:45] bradzacher opened #120 "type-annotation-spacing with optional types"
Is it possible to ignore the optional type marker `?` for the "before" option?

right now if you specify space before, you have to put a space between the characters: `? :`, which i don't like - imo it looks ugly, and also it means you can do this:
[code]

I'd much rather enforce this style:
[code]

[2018-03-26 13:17] searls commented on #110
Hi @macklinu I haven't had time to come back to this quite yet but I'm sure that @mightyiam's example projects will get me sorted. Closing

[2018-03-26 13:17] #110 closed

[2018-03-26 16:08] 43081j opened #123 "explicit-function-return-type options"
I like the idea of requiring explicit return types for methods and functions, as it makes the source very clear. However, requiring it on arrow functions seems OTT.

Could we possibly add a parameter to this or an options object to turn it off for arrow functions?

Happy to try a PR if nobody else is up for it...

[2018-03-26 21:01] aboyton commented on #110
My issue with disabling this rule and leaving TypeScript to enforce it is that TypeScript makes this a compilation error which is really annoying during development. Is there any way around this?

[2018-03-27 03:16] mightyiam commented on #110
Why exactly is it annoying during development? Does it have to do with an error message in the editor or something more?

[2018-03-27 05:41] aboyton commented on #110
I'm probably missing something obvious but if I set `--noUnusedLocals` in TypeScript's [compiler options](https://www.typescriptlang.org/docs/handbook/compiler-options.html) then it fails to compile if I have an unused variable which is really annoying when developing as I'm often adding and removing code and thus having unused variables all over the place that I'll clean up before I commit. I'm u

[2018-03-27 05:48] corbinu commented on #110
@aboyton yes I guess we are just confused as to how that is more annoying than it failing to lint. You can always add a no output tsc to your lint script. Also you can add TypeScript checking to your editor just like you can add linting. For example VS Code does this automatically

[2018-03-27 17:02] #97 closed

[2018-03-27 21:26] aboyton commented on #110
So I realise that I'm wading into a discussion with a lot of opinions.

For me my current workflow is:
* Use AngularCLI running in watch mode without `--noUnusedLocals`.
* Edit in VSCode, constantly making changes and having them reflected in the browser.
* When I'm finished, commit, make a diff with Phabricator (similar to making a pull request with GitHub) which then runs the linter and unit tes

[2018-03-27 21:58] corbinu commented on #110
@aboyton I would recommend using two tsconfigs one for lint and one for build

could set your tsconfig.json to have ```noUnusedLocals: true``` then make your npm script something like this:

[code]

[2018-03-27 22:01] aboyton commented on #110
Thanks. I was wondering about that. I'll give it a try.

[2018-03-28 04:31] mightyiam commented on #110
Does AngularCLI have something like [this](https://github.com/s-panferov/awesome-typescript-loader#errorsaswarnings-boolean) for its TypeScript support?

[2018-03-31 17:38] deepsweet commented on #109
+1 here, would love to see `plugin:typescript/recommended` or something similar in my configuration:

[code]

[2018-04-01 19:27] mightyiam commented on #123
I am not helped by #125, because my style is to use arrow functions wherever it is possible (where it is okay to have `this` bound). Which is most cases.

So, I ask myself, what is the common case, where a function would be exempt from this rule.

How about when:
1. it is a function or arrow function expression AND
2. it is not saved into a variable (right side of an assignment expression)

This w

[2018-04-06 07:57] aaronjensen commented on #33
Here's a scenario where it fails:

[code]

[2018-04-15 22:41] aboyton commented on #110
Not act I've seen. This looks the most promising so far. https://github.com/Microsoft/TypeScript/pull/22361

[2018-04-18 11:32] ridaamirini opened #126 "[no-unused-vars] False positive for unused vars inside decorator arguments"
From https://github.com/eslint/typescript-eslint-parser/issues/445

**What code were you trying to parse?**

[code]

**What did you expect to happen?**

With eslint-plugin-typescript's typescript/no-unused-vars rule enabled, should lint without errors.

**What happened?**

[code]

It looks like the expression in a decorator's argument position is not taken into context when determining unused vars

[2018-04-26 16:38] #120 closed

[2018-04-26 16:39] #123 closed

[2018-04-26 21:28] erezny commented on #112
I've reproduced this issue. disabling "no-unused-vars" causes "typescript/no-unused-vars" to not check anything at all.

[2018-05-02 20:03] KaelWD opened #127 "prefer-namespace-keyword triggers on "declare global {""
### Code:
[code]

### Error:
[code]

[2018-05-11 18:08] KindWizzard opened #128 "[Bug] Parsing error"
Hello guys!

For some reason, this code leads to different errors in eslint:

[code]

[2018-05-11 18:33] macklinu commented on #128
Could you please include the errors you are seeing and your ESLint configuration?

[2018-05-23 08:48] mischah opened #130 "Using angle bracket type assertions causes parsing error"
Hej, I love this plugin and prefer using this with [TypeScript ESLint Parser](https://github.com/eslint/typescript-eslint-parser) over TSLint.

I only have the following error when using angle bracket type assertions.

## Current behavior

ESLint reports the following:

[code]

## Expected behavior

According to the rule [no-angle-bracket-type-assertion](https://github.com/nzakas/eslint-plugin-typ

[2018-05-23 19:38] macklinu commented on #130
I believe this is an issue with [eslint/typescript-eslint-parser](https://github.com/eslint/typescript-eslint-parser) that should be tracked in that repo as well, but could someone with more expertise/understanding of the typescript-eslint-parser confirm that please?

Here's a reproducible [AST explorer](http://astexplorer.net/#/gist/58537ff3964ce6aff61922af7e721663/c65480857ca3bf6c4e5aa8bd7274d0e

[2018-05-23 19:40] macklinu commented on #128
Here's a reproducible [AST explorer](http://astexplorer.net/#/gist/58537ff3964ce6aff61922af7e721663/023624ac362be9fd4222383326aedaf5d4b9fac7).

This may or may not be related to #130 - wanted to link the issues together in case they were.

[2018-05-30 14:19] jorgegonzalez opened #131 "[explicit-function-return-type] Allow implicit void functions"
It would be nice if this rule had an option to ignore errors for void functions not explicitly marked as such.

Currently:

[code]

After:

[code]

[code]

[2018-06-05 14:38] mysticatea commented on #127
I'm encountering the same issue.

[2018-06-11 16:46] IlyaSemenov opened #133 "no-namespace: allow global augmentation"
(This is a cross-post from https://github.com/eslint/typescript-eslint-parser/issues/477 which was closed)

**What version of TypeScript are you using?**
2.8.3

**What version of `typescript-eslint-parser` are you using?**
15.0.0

**What version of `eslint-plugin-typescript` are you using?**
0.12.0

**What code were you trying to parse?**

`index.d.ts`:

[code]

or

[code]

with:

[code]

**What d

[2018-06-18 16:05] ddurschlag6river opened #134 "Rule for spacing around punctuation in types"
Possibly as part of type-annotation-spacing, possible as a new rule. Right now, the punctuation that I can think of are `|` (union), `&` (intersection), `[]` (array or tuple), and `{}` (anonymous object definition).

The obvious preferences I can see for `|` and `&` are no-spaces (`string|number`) and spaces (`string | number`). Tuples and anonymous types are a bit different -- the two relevant sp

[2018-06-22 20:40] macklinu commented on #33
As of the latest commit (5e410a36c43d82ab679bed8a8ef68a655008fde9), I'm seeing this snippet pass as a local `no-unused-vars` test case. Can add it to the codebase in a PR if that would be helpful.

[code]

I've confirmed the following as a failing test and will open a PR to address what I believe is the issue:

[code]

I'm not able to reproduce "'ExecaOptions' is defined by never used" in the foll

[2018-06-22 22:29] milesj commented on #33
@macklinu Here's the execa full code: https://github.com/milesj/boost/blob/master/src/Routine.ts#L111 It's probably the wrapping parens + union causing it.

[2018-06-25 19:14] milesj commented on #33
Think I found a few more.

[code]

[2018-07-02 01:57] bradzacher opened #138 "parsing error on generic, no-name, default export functions"
When exporting an unnamed function with a generic definition, the plugin barfs.
It works fine if the function has a name, though.

Example:
[code]

Error:
[code]

[2018-07-02 03:46] bradzacher opened #139 "interface-name-prefix failing on interface named I18n"
We have an interface called `I18n`.
`typescript/interface-name-prefix` throws on that interface

it looks like the problem is here:
https://github.com/nzakas/eslint-plugin-typescript/blob/b804a7c/lib/rules/interface-name-prefix.js#L55
[code]

as `'1' === '1'.toUpperCase()` if fails.

[2018-07-02 22:30] macklinu commented on #33
@milesj pushed up 9f0caf3 in #135 to address https://github.com/nzakas/eslint-plugin-typescript/issues/33#issuecomment-400063994.

[2018-07-06 13:28] zuzusik opened #141 "[no-use-before-define] false positive when exported var name corresponds to interface property name"
[code]

leads to

[code]

Note: removing both exports leads to error for non exported member be gone, so:
[code]
passes just fine

[2018-07-08 20:39] zuzusik opened #142 "[no-use-before-define] false positive when exported class used in type definition"
[code]
leads to

[code]

with
[code]

**Note:**  without `export` it passes fine:
[code]

[2018-07-08 21:15] zuzusik commented on #85
There is also issue in parser for this: https://github.com/eslint/typescript-eslint-parser/issues/486

[2018-07-11 13:59] atos1990 opened #143 "[indent] Decorator indent error"
Hi guys!
I have some problems with Eslint rule "Indent". When I try apply this rule on follow class:

[code]
as a result I get

[code]
Anyone know how fix this problem?
Thank you!

[2018-07-14 07:17] Aladdin-ADD opened #144 "add a recommended preset"

[2018-07-17 07:01] donaldpipowitch commented on #57
Hi there, is this proof of concept somehow useable already? Or are there other recommended workarounds to get the TypeScript type information into an Eslint rule? Thanks

[2018-07-22 18:49] benjie commented on #144
Can anyone share the typescript rules they're using? Do you just copy/paste from the README and set them all to 'error'?

[2018-07-25 09:18] JFGHT commented on #143
Yep, having the same issue here.

[2018-07-25 17:36] paulmelnikow commented on #110
Am I correct this issue is still outstanding? Could this be reopened until it's resolved?

I'm digging into some issues related to wmonk/create-react-app-typescript#354, and trying to sort out what to do here.

[2018-07-25 20:44] jorgegonzalez commented on #144
We're using [these](https://github.com/jorgegonzalez/zoe/blob/master/configs/typescript.json) in [Zoe](https://github.com/jorgegonzalez/zoe).

[2018-08-01 21:12] trusktr opened #147 "Wrong line numbers"
ESLint tells me the wrong line numbers for typescript files using this plugin. How to fix?

I think this is probably for the parser repo: https://github.com/eslint/typescript-eslint-parser/issues/506

[2018-08-01 22:05] trusktr commented on #147
Nvm, it was pointing to small one-line arrow functions inside a method body, which I overlooked, so it is correct.

[2018-08-01 22:05] #147 closed

[2018-08-02 00:23] trusktr opened #148 "(typescript/member-delimiter-style) produces invalid code"
When using the `"delimiter": "none"` option, it will change

[code]

into

[code]

which is invalid.

The expected is for it to become:

[code]

or something valid.

[2018-08-02 00:33] LFP6 opened #149 "Prevent false positives from class-methods-use-this with classes"
I think it would be benefit to have a rule similar to `typescript/no-unused-vars` to prevent `class-methods-use-this` from triggering on class methods where the method in base class (or additionally one of its descendants) doesn't use `this`, but one of the (other) subclasses does. For example, an abstract class may implement a method as just returning a default value, but the intention of the met

[2018-08-02 14:12] mkhl opened #150 "[no-unused-vars generates] false positives for parameter properties"
[See the test project here](https://github.com/mkhl/eslint-plugin-typescript-issue-no-unused-vars-parameter-properties)

Code:
[code]

ESLint Configuration:
[code]

The constructor generates a property for the parameter and assign its argument to that.
Even though the parameter is used (by assigning to the property) and the property is used (by accessing it), it gets flagged as a warning.

[2018-08-08 07:35] dcousens opened #151 "Version 1.0.0"
Any reason to hold off on this?

[2018-08-09 14:24] zuzusik opened #152 "[type-annotation-spacing] fails in object types under different conditions"
rule config:
[code]

code:
[code]

[2018-08-10 03:44] milesj commented on #33
Any update on this? If you're open to assigning collaborators, I could help go through some of these issues/PRs.

[2018-08-13 02:12] yedeying999 commented on #143
same issue here, are there any solution?

[2018-08-15 21:36] mockdeep commented on #110
Running into this, too. We've got a mixed ts and js project as we convert things over, so would rather not disable the rule. Also, it's nice to have a couple layers of checking just in case.

[2018-09-04 18:15] aeolingamenfel opened #154 "[Feature Request] Add support for JSDoc "import()" feature"
TypeScript (and VSCode) have support for a JSDoc syntax that allows you to `import()` directly within a JSDoc type. Example:

[code]

(VueX example just because I can get my intellisense in VSCode to work with that as a working example)

This allows a user to reference an object if it isn't imported (like `ActionContext` in this example).

Would love to see some sort of support for this syntax in

[2018-09-13 13:57] mcuelenaere opened #155 "[no-empty-pattern] gets triggered on a non-destructuring array declaration"
Minimal testcase that should reproduce the error:

`.eslintrc.json`:
[code]

`test.js`:
[code]

`eslint test.js`:
[code]

[2018-09-14 07:47] Weiyu-Chen commented on #126
So could anyone fix it ?

[2018-09-20 05:34] Offirmo commented on #110
Running into this.

@mockdeep I believe you can selectively disable the rule only for .ts files using the "override" section of eslintrc

[2018-09-20 15:14] marchaos commented on #150
Same issue here.

[2018-09-20 15:57] mockdeep commented on #110
@Offirmo yeah, that's what we ended up doing:

[code]

[2018-09-24 09:32] Radivarig commented on #33
[code]

[2018-10-03 23:43] nevir commented on #5
`no-floating-promises` would be a huge win, and seems like it would require TypeScript's knowledge of an expression's return type

[2018-10-05 18:29] madbence commented on #85
I opened eslint/eslint#10922 and eslint/eslint#10923 that can possibly resolve false positives, but it means that a new rule has to be added to `eslint-plugin-typescript`. as an alternative,  [`typescript-estree`](https://github.com/JamesHenry/typescript-estree) could parse type aliases differently, see JamesHenry/typescript-estree#17.

[2018-10-06 18:16] madbence opened #156 "Add rule to handle space-infix-ops"
see eslint/eslint#10922 and eslint/eslint#10923 JamesHenry/typescript-estree#17 and #85. basically, i'd like to add an extension to the core `space-infix-ops` rule (PR is coming), or reimplement the whole rule, and add an advice in the readme to disable the core rule in favor of the typescript-specific one.

[2018-10-15 18:20] ChristianStornowski commented on #144
Im using this tslint recommendation aligned configuration:

[code]

[2018-10-16 00:37] madbence commented on #156
i'm closing this as eslint/eslint#10935 resolved this

[2018-10-16 00:37] #156 closed

[2018-10-19 23:39] madbence commented on #85
eslint/eslint#10935 fixed this i think (`eslint@5.7.0`), can you confirm @mightyiam ?

[2018-10-29 18:53] bradzacher opened #158 "add support for optional modifiers to type-annotation-spacing"
typescript 2.8 added `+`/`-` in mapped types to add/remove optional qualifiers.
[code]

`type-annotation-spacing` does not currently support this.

[2018-10-30 05:05] bradzacher commented on #152
This is a problem with how `eslint` traverses the tree that `typescript-eslint-parser` provides: https://github.com/eslint/typescript-eslint-parser/issues/532#issuecomment-434172856

[2018-10-30 13:04] gwardwell commented on #126
I'm seeing this issue as well. Is there any progress on a fix?

[2018-10-30 18:31] bradzacher commented on #150
The parser generates the following AST node:
https://astexplorer.net/#/gist/3ee05bfb072cdc44f13a66e89cffbb0e/e3ada19e7e961fa2a81fa8a8767e3a50cdb342be
[code]
It places this node within the constructor `MethodDefinition`, not inside the `ClassBody`'s `body`.
Which is correct from an AST standpoint, but this is what causes the bug.

I'll put up a PR for it..

[2018-10-30 19:08] bradzacher commented on #150
Question for core members (cc @nzakas / @JamesHenry / whomever else)

I've looked into it, and ESLint's `no-unused-vars` doesn't track the usage of `ClassProperty`s. It only deals with variables.

How do we want the plugin to behave in this case?
Do we just mark the `TSParameterProperty`s as used so that `no-unused-vars` ignores them entirely?

Or do we attempt to handle the `private`/`protected`/

[2018-11-01 00:16] #127 closed

[2018-11-01 00:22] #139 closed

[2018-11-01 00:28] #158 closed

[2018-11-04 19:51] #138 closed

[2018-11-05 07:02] Fandekasp opened #162 "Cannot migrate from babel-eslint"
Currently in the process of integrating typescript in my codebase.
I tried to add the typescript plugin and replace the `babel-eslint` parser with `typescript-eslint-parser` in my .eslint

Unfortunately, running eslint will raise countless errors looking like
[code]

Have you seen that before ? I cannot find any mention of `@babel/preset-types` anywhere in my code, so I suppose it's a truncated ve

[2018-11-05 07:07] Fandekasp commented on #162
figured it out, my .babelrc was broken, unrelated to eslint-plugin-typescript :bowing_man:

[2018-11-05 07:07] #162 closed

[2018-11-06 15:39] mightyiam commented on #85
Confirmed with `eslint@5.8.0`.

[2018-11-06 15:39] #85 closed

[2018-11-06 15:51] mightyiam commented on #85
Thank you, @madbence.

[2018-11-06 16:31] Coder-256 commented on #107
Bump! I would love to see this too. This could be added as an option for the [`no-implicit-coercion`](https://eslint.org/docs/rules/no-implicit-coercion) rule's `boolean` property, because `if (x)` does an implicit boolean conversion, just the same as `!!x`.

[2018-11-06 16:32] Coder-256 commented on #107
Bump! I would love to see this too. This could be added as an option for the [`no-implicit-coercion`](https://eslint.org/docs/rules/no-implicit-coercion) rule's `boolean` property, because `if (x)` does an implicit boolean conversion, just the same as `!!x`.

[2018-11-07 17:58] nzakas commented on #150
Sorry, I haven't looked at this project in a very long time due to health issues, so trying to get caught up.

I think the ultimate goal is to have the default ESLint `no-unused-vars` rule ignore TypeScript class properties entirely. The rule is intended to check variables and not properties, so I believe that would be the expected behavior.

How to achieve that? I'm not sure. It seems like markin

[2018-11-08 17:34] bradzacher commented on #150
Given that tsc supports "noUnusedLocals" and "noUnusedParameters", I would err on the side of this probably being a good case to just give ESLint invalid data.

If you're okay with that approach, I'm happy to resubmit a PR with it.

[2018-11-09 14:57] armano2 opened #164 "[no-dupe-args][no-redeclare] False positive with object destructuring and inline type"
**Tell us about your environment**
* **eslint-plugin-typescript:**	20.1.1

**Please show your full configuration:**
[code]
**What did you do? Please include the actual source code causing the issue.**
[code]
**What did you expect to happen?**
year and month is not duplicated, its inline type definition

**What actually happened? Please include the actual, raw output from ESLint.**
[code]

[2018-11-09 21:05] mkhl commented on #150
I’d argue that it’s not; in my view a parameter property `foo` is _both_ a parameter, accessible as `foo` in the scope of the constructor, and a property, accessible as `this.foo` in the scope of the class, and I’d argue that the definition of the latter constitutes a use of the former.

[2018-11-12 10:52] mightyiam commented on #148
I don't feel that it should introduce line breaks. What I would like is #92.

[2018-11-12 10:52] mightyiam commented on #148
And then, it should fix according to the single-line setting.

[2018-11-12 10:57] mightyiam commented on #92
[code]

That semicolon in `href: string;` is a hit.

Just another example of this issue.

[2018-11-12 16:44] nzakas opened #165 "Looking for new maintainer(s)"
Hi everyone,

As you may or may not know, I started this plugin a while ago as an adjunct to TypeScript support in ESLint. Unfortunately, my health has not been good and I haven't really been able to maintain this project properly. @JamesHenry was handling this in my absence, but now he also is unable to continue maintaining this project.

While my health has improved, I just don't have enough ene

[2018-11-12 18:12] rishichawda commented on #165
@nzakas Would be happy to take over the project. Although I'm new to typescript, I have a few people who are willing to work with on typescript.

[2018-11-12 18:15] rishichawda commented on #165
@nzakas I would be happy to take over the project. Although I'm new to typescript, I have a few people who are willing to work with me on typescript. Also, because I love eslint. :)

[2018-11-12 19:10] JamesHenry commented on #165
cc @macklinu @j-f1 @bradzacher as they are the top external contributors to date

[2018-11-12 19:51] weirdpattern commented on #165
😭 @JamesHenry, I know I've been away for a while... but I keep taps with the repository 😃...
I would love to help, but I think it would be better if we have multiple maintainers as I can't guarantee I will always have time...

[2018-11-12 20:01] corbinu commented on #165
I don't have to much time but would be happy to review PRs and such as I love this project.

[2018-11-12 21:59] bradzacher commented on #165
I'd be glad to maintain/take ownership of this project.

I love typescript and I've really enjoyed the time I've spent working on linting projects.

I also need a reason to spend less time playing slay the spire on the shuttle :)

[2018-11-13 03:23] j-f1 commented on #165
I also don’t think I’d be able to take a major role, but I can definitely review PRs, helpmout with issues, and provide some support.

[2018-11-13 18:13] nzakas commented on #165
Thanks everyone. I think the best path forward is to assign everything to @bradzacher and let him decide how to go from there.

Brad - I've sent you an invite to this repo. Once, you get it, I think you'll be able to transfer the repo to yourself. If not, let me know and I'll do it. Then let me know your npm username and I'll make you an owner of the package.

[2018-11-13 19:35] bradzacher commented on #165
I don't have access to do the transfer, I think the owner is the only one who has access to do that on a non-org repo.

My npm is the same as my github: `bradzacher`

[2018-11-14 02:14] iwata commented on #49
I had same error like below and you should reopen.

[code]

[2018-11-14 06:59] macklinu commented on #49
I can't reproduce this issue in master with a unit test. I believe the fix is in place but may not have been released to npm?

[2018-11-14 16:21] nzakas commented on #165
Okay, transfer incoming.

[2018-11-14 16:26] nzakas commented on #165
@bradzacher So it looks like because you already have a fork named `bradzacher/eslint-plugin-typescript` that I can't transfer this repo to you. To continue, you'd need to delete your fork. If you any branches of current work that haven't been merged into this repo yet, you should be able to push them into a remote branch on this repo now. Let me know when you've done all that and I'll do the tran

[2018-11-14 23:35] bradzacher commented on #165
My fork is deleted!

[2018-11-15 17:30] nzakas commented on #165
All right, the repo is on its way.

[2018-11-15 17:42] JamesHenry commented on #165
Awesome! @bradzacher I am going to officially unwatch the repo now, but please feel free to @ me at any time

[2018-11-15 18:16] bradzacher commented on #165
Thanks heaps to both @nzakas and @JamesHenry for everything you've done.

@corbinu @macklinu @j-f1 @weirdpattern
If you are up for it, I'm happy to add any/all of you as "Collaborators".

I'd appreciate any help you can provide in reviewing / merging PRs and triaging issues.

[2018-11-15 18:53] macklinu commented on #165
@macklinu happy to be added as a collaborator!

[2018-11-15 19:07] j-f1 commented on #165
Glad to help!

[2018-11-15 19:12] nzakas commented on #165
Thanks to everyone for taking this project over. It deserves a lot more love than I'm able to give right now.

As with @JamesHenry, I'm going to unsubscribe from this repo now, but feel free to at-mention me if you need clarification on something.

[2018-11-15 22:17] milesj commented on #165
Awesome stuff, let me know if you need help. I'm open to reviewing PRs.

And feel better @nzakas, thanks for the great work!

[2018-11-16 01:29] #165 closed

[2018-11-16 01:32] bradzacher commented on #148
duplicate of #92

[2018-11-16 01:32] #148 closed

[2018-11-16 01:42] bradzacher commented on #154
could be a candidate for this plugin as it is TS specific syntax.

Just so I can understand the use case for this.
How come you're using the import syntax in your comment instead of using proper typescript types?

Are you gradually adding types to a `js` file?

[2018-11-16 02:06] bradzacher opened #166 "Update typescript-eslint-parser"
`typescript-eslint-parser` v21 has been released with a number of fixes (such as [support for `visitorKeys` to make traversal easier](https://github.com/eslint/typescript-eslint-parser/issues/532))

`master` is currently on v15, so there could be a number of breaking changes to our rules.
There's a number of places our rule definitions explicitly traverse `typeAnnotation`, which should no longer b

[2018-11-16 02:31] macklinu commented on #166
I think this would unblock #117 as well.

[2018-11-16 02:55] bradzacher commented on #56
I've done typescript + eslint config before (https://github.com/assignar/eslint-config-assignar), but I haven't done a plugin with it yet.

There's obvious benefits about switching to typescript which could help catch some bugs that were missed.
Might be a bit of work to define our own types if any are missing.

Would be worth investigating

[2018-11-16 03:14] bradzacher commented on #107
flow supports this via their `sketchy-null` rules.
https://flow.org/en/docs/linting/rule-reference/#toc-sketchy-null

Speaking from experience over my last few months at facebook, it's actually really, *really* annoying; most engineers I've spoken to hate it!

But if there is demand from the community, it's a rule we could look into.

[2018-11-16 03:16] bradzacher commented on #109
Closing in favour of #144

[2018-11-16 03:20] #111 closed

[2018-11-16 03:43] bradzacher commented on #151
publishing `1.0.0` implies that we are releasing a breaking change.

I'll be looking at pushing a new version within the next few days.

[2018-11-16 03:59] todorone commented on #151
@bradzacher Amazing, thanks.

[2018-11-16 04:00] corbinu commented on #151
@bradzacher not to be rude but technically before 1.0.0 the rules of semver are actually looser than after. Usually it symbolizes "stable for production". The https://semver.org/ website does have an FAQ. This lib is for sure being used in production so it is probably close to 1.0.0.

However I expect there are a lot of changes coming so maybe plan a few more releases then 1.0.0.

So glad your tak

[2018-11-16 23:49] armano2 commented on #5
@bradzacher i'm going to work on `promise-function-async`

[2018-11-17 00:12] macklinu commented on #151
Would we want to complete the remaining rules in #5 as part of a 1.0.0 release?

[2018-11-17 00:33] dannyfritz commented on #5
TSLint has changed since I originally made this issue a few times. If someone wants to do the research to corroborate where we are with the moving target I'd gladly update the original list.

[2018-11-17 00:50] bradzacher commented on #151
@corbinu I didn't actually know that, thanks!

TBH I'm not 100% comfortable releasing as a 1.0.0 "stable" because of the number of issues that keep popping up with `no-unused-vars`.
Though we're probably just going to have to bite the bullet on that one though considering there are so many edge cases (and we've got the majority of them, I think...).

@macklinu we probably need to define the goals

[2018-11-17 00:54] bradzacher commented on #166
the problem is that `typescript-eslint-parser` isn't actually a dependency/peerDependency for us.
which means people could easily be using it right now!

Luckily, I think that people are pretty lazy with updating the parser.

It's going to be a bit tedious, but yeah - probably a good idea to gradually bump and PR fixes, one version at a time.
Makes it easier to review and track that way.

[2018-11-17 00:54] JamesHenry commented on #151
@bradzacher The single most important thing before 1.0.0 can be considered IMO is bringing things up to date with advancements in the parser. It is very out of date right now.

This PR in particular has major ramifications for the plugin: https://github.com/eslint/typescript-eslint-parser/pull/540

[2018-11-17 01:03] bradzacher commented on #151
thanks @JamesHenry. I opened #166 last night to track the upgrade.
definitely will have to address that for the 1.0.0.

We might want to add a peer dep (or actual dep) to help keep it tighter and make it easier for users to know what version to use.

I should create a milestone so we can track everything we want for a 1.0.0...

[2018-11-17 01:47] weirdpattern commented on #5
Just a thought...

Would it be better to move all these pending rules to the README.md or maybe ROADMAP.md file?

I think it will give users a clear idea of where we are heading without having to search this info in a bug?

[2018-11-17 01:59] JamesHenry commented on #151
Awesome
On Fri, 16 Nov 2018 at 20:03, Brad Zacher <notifications@github.com> wrote:

[2018-11-17 11:36] ficristo opened #170 "[no-unused-vars] How to configure?"
I have this ESLint rule:
`"no-unused-vars": [1, {"vars": "all", "args": "none"}],`
if I add the `typescript/no-unused-vars` rule should I add all options to it too?
Or configuring it to something like `typescript/no-unused-vars : 1` will inherit all options?

Sorry to not use the templates, my question doesn't seem to match any of them.

[2018-11-17 11:45] ficristo opened #171 "[no-unused-vars] Crash when running ESLint"
**Repro**

[code]

I cannot hunt down the code where it breaks

**Expected Result**
ESLint should pass.

**Actual Result**
[code]

**Additional Info**
At the moment I cannot update ESLint to version 5.*
See also https://github.com/eslint/typescript-eslint-parser/issues/553

See quadre-code/quadre#103 where I upgraded typescript-eslint-parser, when I got this error.
Trying to use this plugin didn't

[2018-11-17 12:59] j-f1 commented on #170
You should just be able to change `no-unused-vars` to `typescript/no-unused-vars`. You don’t want to keep the core rule enabled since it might crash, as you’ve seen.

[2018-11-17 13:00] j-f1 commented on #170
I’m closing this for now, but please feel free to comment still if you have any issues.

[2018-11-17 13:02] j-f1 commented on #171
Does my suggestion in #170 help here?

[2018-11-17 13:09] ficristo commented on #170
According to the [docs](https://github.com/bradzacher/eslint-plugin-typescript/blob/67ad1cb71e90e18b9f0bf9bb80d394f3850c4cf8/docs/rules/no-unused-vars.md)

So now I'm a bit more confused...

[2018-11-17 13:12] ficristo commented on #170
Also consider my actual configuration is a bit more complex, with mixed js, ts and tsx rules.
See https://github.com/quadre-code/quadre/blob/1d180aa9325d084fc6780a7078506e51fde47b6d/.eslintrc.js

[2018-11-17 13:35] j-f1 commented on #170
I never noticed that before. Seems like we should try to implement the core rule here or find a workaround for the error.

[2018-11-17 19:46] bradzacher commented on #170
@j-f1 Our rule builds upon the standard eslint rule.

Essentially the default rule marks variable/class/function/argument definitions as used by adding `eslintUsed: true` to the definition.

Our rule just adds additional handling for the extra definition and use cases that typescript adds; marking things as `eslintUsed` where applicable.

Which is why there's always so many issues against it, beca

[2018-11-17 19:49] bradzacher commented on #170
we should probably add a check to the rule so that it ensures that you have the base rule enabled.

[2018-11-17 19:53] bradzacher commented on #171
I would hazard a guess that this is a bug introduced by `typescript-eslint-parser@21`.

[2018-11-17 23:33] #170 closed

[2018-11-18 07:03] ficristo commented on #170
If I understood correctly, it inherits all the options of the `base no-unused-var` rule?

[2018-11-18 07:06] ficristo commented on #171
My previous version was 15.0.0 and ESLint worked. For now I just disabled the rule on ts and tsx code, so to be able to upgrade the parser.

[2018-11-18 12:07] j-f1 commented on #170
@ficristo Almost. It marks the type variables as used, and `no-unused-vars` reports all the issues.

[2018-11-19 06:11] bradzacher commented on #126
https://astexplorer.net/#/gist/9f8a50b0db8e4f6eb6a4232cb3bf4160/618c7989605019cdd3a3b8d023cb8c6fe47a837f

[code]

Looking at the AST and comparing it to the `markDecoratorAsUsed` function, it looks like it was never built to handle decorator arguments.

Having a look, this will be fixed by the new `visitorKeys` config that the parser added in v20.
So this should be fixed by #166

[2018-11-19 06:30] bradzacher commented on #90
closing as we are unable to reproduce, and there has been no response from OP.

[2018-11-19 06:30] #90 closed

[2018-11-19 06:50] bradzacher commented on #112
cannot reproduce on master.

used the following test code:
[code]

[2018-11-19 06:57] bradzacher commented on #142
tested both cases against v0.13.0, and they both report no-use-before-define.

Unless i'm mistaken, this is the correct behaviour?

[2018-11-19 07:00] bradzacher commented on #142
tested both cases against v0.13.0, and they both report no-use-before-define.

[2018-11-19 08:06] bradzacher commented on #128
Looking at the bug in the AST explorer - it only occurs if you have `jsx: true` on in the parser options. Turning off jsx mode, it parses fine.

[code]

I'm going to go ahead and close this issue.

If @KindWizzard has a follow up, we can consider reopening.

[2018-11-19 08:06] #128 closed

[2018-11-19 13:32] j-f1 commented on #112
@bradzacher Do you want to install something like [`no-response`](https://probot.github.io/apps/no-response/) to auto-close issues when the OP hasn’t responded? I created the `awaiting response` label for that purpose.

[2018-11-19 13:35] j-f1 commented on #128
As a workaround, you can use this syntax instead:

[code]

[2018-11-19 13:59] armano2 commented on #164
issue is with parser not this plugin 👍
visitor-tree is not emitting it as type

[2018-11-19 13:59] #164 closed

[2018-11-19 16:40] bradzacher opened #177 "[camelcase] false positive on interface properties"
**Repro**

[code]

[code]

**Expected Result**
No errors

**Actual Result**
`Identifier 'b_ar' is not in camel case.`

**Additional Info**
Moved from unresponsive PR #95
https://github.com/eslint/typescript-eslint-parser/issues/492

[2018-11-20 19:59] armano2 commented on #171
@ficristo do you mind trying to run eslint from console with `--debug` flag?
it should print you additional data to locate line

[2018-11-20 20:29] ficristo commented on #171
Running this
`node_modules/.bin/eslint --ext .tsx,.ts --ignore-path .gitignore --debug . &> result.txt`

Here the [result.txt](https://github.com/bradzacher/eslint-plugin-typescript/files/2601455/result.txt)

[2018-11-20 20:44] armano2 commented on #171
@ficristo in src\extensions\default\quadre-whitespaces\main.ts
you have something like this
[code]
and next token is failing

[2018-11-20 22:45] zuzusik commented on #142
@bradzacher actually in this case the correct behavior is **not** to report, as config has it

[code]

so, classes **shouldn't** be reported, but they are when class is exported

[2018-11-20 22:52] zuzusik commented on #142
@bradzacher sorry, I was replying to first version of your comment which I received to email, which had `Unless i'm mistaken, this is the correct behaviour?`

now I see that you have considered provided config when working on fix

so I think we are fine now 👍 thanks!

[2018-11-21 16:45] #150 closed

[2018-11-21 16:47] bradzacher commented on #177
this is a huge problem (i'm surprised more people don't report it).

I dug into this a while ago, and only just remember where I put the issue (I've updated the OP with the link)

[2018-11-21 16:53] #142 closed

[2018-11-21 17:03] bradzacher commented on #166
@armano2 has done some great work to get the parser dep to v17, and we have merged a number of bugfixes.

I'll spend some time over this long weekend to fix one or two more (and I saw @weirdpattern had his eye on some too).

Unfortunately, the v21 PR is currently blocked by some parser issues, so rather than delaying the fixes until they are resolved, I am thinking we can do a minor bump release o

[2018-11-21 17:13] armano2 commented on #166
@bradzacher is waiting now for new release only, i found some issues with both now/old code

[2018-11-21 17:14] weirdpattern commented on #177
Just read the bug you linked. I think extending the base ESLint rule to handle typescript specific nodes makes the most sense as we don't want to impact other rules that use the Identifier node.

We have done it before #68

Thoughts?

[2018-11-21 17:58] bradzacher commented on #177
sounds good to me!

I don't remember if you can do this easily via eslint's context or not, but if you can, it should be as easy as interrogating the parent of the identifier!

Also considering we only currently have a minor modification - I wonder if it's possible to just import the existing eslint rule and do something like:

[code]

[2018-11-21 20:49] j-f1 commented on #166
There can never be too many releases @bradzacher :)

[2018-11-22 23:49] armano2 opened #179 "no-unused-vars incorrect results"
**Repro**

[code]

[code]

**Expected Result**
error that Foo type is not defined

**Actual Result**
all is good

**Additional Info**

There is few issues there:
- markVariableAsUsed is iterating over all variables even if found first one,
- type variables are not validated

** Versions **
| package                    | version |
| -------------------------- | ------- |
| `eslint-plugin-typescript

[2018-11-25 10:56] ficristo commented on #171
Fixed upstream.

[2018-11-25 10:56] #171 closed

[2018-11-25 22:55] ChristianStornowski commented on #144
I did some homework:

https://www.npmjs.com/package/eslint-config-typescript-recommended

Maybe it could be integrated into this plugin. :-)

[2018-11-25 23:55] j-f1 commented on #144
@ChristianStornowski a quick note: `valid-jsdoc` is different from `jsdoc-format` because it checks for content of the JSDoc instead of just syntax.

[2018-11-26 00:00] bradzacher commented on #112
Closing due to no response.
Feel free to reopen this issue if you have a solid repro case for your problem

[2018-11-26 00:00] #112 closed

[2018-11-26 05:46] ChristianStornowski commented on #144
Thanks for this hint. :-)

If i'm reading this correct: https://eslint.org/docs/rules/valid-jsdoc#options

i only have to set `requireReturn` to `false` and only syntax check is enabled.

[2018-11-26 17:03] bradzacher opened #184 "Add explicit dependencies"
We have a peer dependency on `eslint`, and a direct dependency on `typescript-eslint-parser`.

I've submitted https://github.com/eslint/eslint/issues/11127, maybe it'll be considered.

Regardless, we should at least be explicitly defining our required versions via peer dependencies.

(as per discussion on #183)

[2018-11-26 17:15] weirdpattern commented on #184
I will assign this to myself...

[2018-11-26 17:26] bradzacher opened #185 "The future of casing rules"
I just wanted to spin this off of the discussion that @weirdpattern and I were having on #183.

Currently eslint core has the `camelcase` rule, which enforces variable and (optionally) property names are written in camelCase or PascalCase.

The problem is that `camelcase` doesn't differentiate between camelCase and PascalCase (https://github.com/eslint/eslint/issues/10473), and rightfully so becau

[2018-11-26 17:46] j-f1 commented on #185
I think the multiple smaller rule style is a good idea, although I’d suggest:
- variable/property/method (I think the addition of class properties should e contributed to [`eslint-plugin-babel`](https://github.com/babel/eslint-plugin-babel) and we should recommend people use that instead)
- type (e.g. `type Foo = Bar`)
- interface
- namespace/module (ignoring quoted modules e.g. `module "foo" {}`)

[2018-11-26 17:48] j-f1 commented on #185
I’m wondering if we should collaborate with [`eslint-plugin-flowtype`](https://github.com/gajus/eslint-plugin-flowtype) (cc @gajus since you’re the maintainer of that project) to make an ESLint plugin for features that are common to both Flow and TS.

[2018-11-26 17:56] j-f1 commented on #144
@ChristianStornowski Unfortunately, [it will still error if a value is explicitly returned](https://eslint.org/demo/#eyJ0ZXh0IjoiLyogZXNsaW50IHZhbGlkLWpzZG9jOiBbZXJyb3IsIHsgcmVxdWlyZVJldHVybjogdHJ1ZSB9XSAqL1xuXG4vKipcbiAqIGdldHMgdGhlIGFuc3dlclxuICovXG5mdW5jdGlvbiB0aGVBbnN3ZXIoKSB7XG4gIHJldHVybiA0MlxufSIsIm9wdGlvbnMiOnsicGFyc2VyT3B0aW9ucyI6eyJlY21hVmVyc2lvbiI6NSwic291cmNlVHlwZSI6InNjcmlwdCIsImVjbWF

[2018-11-26 19:00] bradzacher commented on #185
my only issue with pushing class properties to a different plugin is that then our users have to also install the plugin to get the coverage.
Telling a typescript user (who doesn't need babel) to use `eslint-plugin-babel` for a rule would be confusing.
(looking at that plugin, it doesn't need babel, it's just a reimplementation of the rules based off the AST provided by `babel-eslint`, so there's

[2018-11-26 19:14] weirdpattern commented on #185
disabling `camelcase` shouldn't be a problem once we have a `typescript:recommended` preset (which is a whole different topic being discussed in a separate bug...), but yeah, I think we shouldn't force our users to install another plugin just to deal with a single case... I like the idea of the shared library though (and if I remember correctly it was discussed at some point... not sure what happe

[2018-11-26 19:16] weirdpattern commented on #144
I'm the owner of [eslint-config-typescript](https://www.npmjs.com/package/eslint-config-typescript) and my intention was (and still is) to complement this project with that one... I'm willing to work with anyone that is interested in making that happen :smile:

[2018-11-26 20:05] ChristianStornowski commented on #144
They are different projects in the npm world:

https://www.npmjs.com/package/eslint-config-standard-with-typescript
https://www.npmjs.com/package/eslint-config-typescript
https://www.npmjs.com/package/eslint-config-typescript-recommended

we should combine them together.

The question is who should be the owner. Should be eslint-plugin-typescript the owner for this configs?

[2018-11-27 03:37] mightyiam commented on #144
Re: combining them together

I am the person behind https://www.npmjs.com/package/eslint-config-standard-with-typescript.

I don't see a good reason for combining them together.

Further, I feel that recommendations should be outside the scope of this project.

Let the community provide shareable configs, is how I see it. I would close this issue.

[2018-11-27 11:38] benjie commented on #144
Definitely add them to the README though 👍

[2018-11-27 18:05] bradzacher commented on #144
It's common practice for plugin authors to provide at the very least a "recommended" config set, if not more than that [[1]](https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/src/index.js#L41-L233) [[2]](https://github.com/yannickcr/eslint-plugin-react/blob/master/index.js#L116-L149) [[3]](https://github.com/benmosher/eslint-plugin-import/tree/master/config) [[4]](https://github.com/je

[2018-11-28 00:38] armano2 commented on #131
I think we should do it in different way, if there is no type specified, we should check if return type if consistent:
if all paths has or not have return like: `consistent-return` eslint rune does it.

it can be easily accomplished with [code path](https://eslint.org/docs/developer-guide/code-path-analysis/#code-path-analysis-details)

[2018-11-28 01:36] iwata opened #188 "[prefer-namespace-keyword] Crash when using the rule"
**Repro**
Just set `typescript/prefer-namespace-keyword` rule and execute linter.

[code]

**Expected Result**
No errors

**Actual Result**
It shows an error below.

[code]

**Versions**

| package                    | version |
| -------------------------- | ------- |
| `eslint-plugin-typescript` | `0.14.0` |
| `typescript-eslint-parser` | `21.0.1` |
| `typescript`               | `3.1.6` |

[2018-11-28 01:44] bradzacher commented on #131
There's four cases you have to test on each path:
- no return at all
- `return;`
- `return undefined;`
- `x = () => void; return x();`
[repl](https://www.typescriptlang.org/play/index.html#src=function%20foo1()%3A%20void%20%7B%20%7D%0Afunction%20foo2()%3A%20void%20%7B%0A%20%20%20%20return%3B%0A%7D%0Afunction%20foo3()%3A%20void%20%7B%0A%20%20%20%20return%20undefined%3B%0A%7D%0Afunction%20foo4()%3A%

[2018-11-28 02:18] iwata opened #189 "[no-unused-vars] false positive about exported type definitions"
**Repro**
[code]

[code]

**Expected Result**
It should lint without errors.

**Actual Result**

[code]

**Versions**

| package                    | version |
| -------------------------- | ------- |
| `eslint-plugin-typescript` | `0.12.0` |
| `typescript-eslint-parser` | `21.0.1` |
| `typescript`               | `3.1.6` |

[2018-11-28 03:36] bradzacher commented on #189
I haven't dug into it, but I believe it's related to #152
If it is, then it'll be fixed by the parser upgrade.

[2018-11-28 03:54] iwata commented on #189
Okay, I'll wait for new version of parser.

[2018-11-28 04:30] weirdpattern opened #190 "lint-stage configuration"
**Repro**
This has to do with the lint-staged hook in the repository and the fact that is only reporting style issues, but not actually formatting the code.

[code]

**Expected Result**
Code is formatted and staged

**Actual Result**
Code format issues are reported, but not formatted...

**Additional Info**
I think we should use `yarn format` instead of `yarn format-check`

[code]

**Versions**

|

[2018-11-28 05:53] #190 closed

[2018-11-28 06:41] #184 closed

[2018-11-28 08:02] targos opened #193 "[no-unused-vars] crashes with initialized enums"
**Repro**

[code]

[code]

**Expected Result**

No error.

**Actual Result**

The `no-unused-vars` core rule's code of ESLint crashes.

**Additional Info**

Stack trace:
[code]

**Versions**

| package                    | version |
| -------------------------- | ------- |
| `eslint`                   | `5.9.0` |
| `eslint-plugin-typescript` | `0.14.0` |
| `typescript-eslint-parser` | `21.0.1` |
|

[2018-11-28 16:49] bradzacher commented on #193
Downgrade your version of `typescript-eslint-parser` to `^17` and let me know if the issue persists

[2018-11-28 19:16] armano2 commented on #193
issue is in parser, and got fixed in https://github.com/eslint/typescript-eslint-parser/commit/491ebcaff9815071d4194584e3d94d0edf601e3b

[2018-11-28 23:11] weirdpattern commented on #188
@iwata can you also try this using the below versions (which are the officially supported versions as of today)

| package                    | version |
| -------------------------- | ------- |
| typescript-eslint-parser | v17.0.1 |
| typescript | 2.9 |

[2018-11-29 02:36] iwata commented on #188
@weirdpattern
I tried and a similar error message appeared.

[code]

[2018-11-29 03:06] armano2 commented on #188
@iwata thank you, i will patch it soon

[2018-11-29 03:51] weirdpattern opened #196 "Incorrect husky configuration in package.json"
**Repro**
Install all dependencies, commit a change

**Expected Result**
Husky runs without issue

**Actual Result**
Husky fails due to change in configuration

**Additional Info**
[code]

**Versions**

| package                    | version |
| -------------------------- | ------- |
| `eslint-plugin-typescript` | `0.14.0` |
| `typescript-eslint-parser` | `17.0.1 |
| `typescript`               | `

[2018-11-29 04:03] #177 closed

[2018-11-29 11:48] donaldpipowitch opened #198 "Incorrect README or parse not published?"
**Repro**

`$ npm install eslint-plugin-typescript`

**Expected Result**

`node_modules/eslint-plugin-typescript/parser.js` exists.

**Actual Result**

`node_modules/eslint-plugin-typescript/parser.js` doesn't exist.

**Additional Info**

The README says:

And it is shown that way in the example below.

**Versions**

| package                    | version |
| -------------------------- | ------- |

[2018-11-29 16:36] bradzacher commented on #198
Hi @donaldpipowitch,
The readme changes are part of the upcoming 1.0.0 release.
For the current release readme, please see the tag corresponding to the release (https://github.com/bradzacher/eslint-plugin-typescript/tree/0.14.0), or see the readme on npm

[2018-11-29 16:36] #198 closed

[2018-11-29 16:36] #196 closed

[2018-11-29 16:40] #188 closed

[2018-11-29 20:57] donaldpipowitch commented on #198
Cool, thank you 😎

[2018-11-30 13:32] targos commented on #193
Oh, I see. I just realized that this package relies on a specific version of the typescript parser, sorry.

[2018-11-30 13:32] #193 closed

[2018-11-30 22:49] wolfy1339 opened #199 "ESLint error: Cannot find module 'eslint-plugin-typescript/parser'"
When trying to run ESLint with this plugin, I get an error:
[code]
ESLint version: 5.9.0
eslint-plugin-typescript version: 0.14.0
Node v11

[2018-12-01 01:34] bradzacher commented on #199
Hi @wolfy1339,
The readme changes are part of the upcoming 1.0.0 release.
For the current release readme, please see the tag corresponding to the release (0.14.0), or see the readme on npm.

Duplicate of #198
Please use the search next time.

[2018-12-01 01:34] #199 closed

[2018-12-01 21:56] armano2 commented on #131
why did you close this one?

[2018-12-01 22:02] jorgegonzalez commented on #131
I understood that you didn't want to implement it ... and I've personally gotten used to explicitly typing `void`

[2018-12-01 22:06] armano2 commented on #131
currently we will have to add additional logic for this but, when type analysys will be live in parser we will have access to it directly. like accessing property. I will like to implement this feature, but not till we are going to update to parser v21.*

[2018-12-01 22:14] jorgegonzalez commented on #131
In that case, forgive me for closing.

[2018-12-04 03:16] bradzacher commented on #154
As per https://eslint.org/blog/2018/11/eslint-v5.9.0-released
ESLint has EOL JSDoc support.

As such, this is no longer a good candidate for us to build into this plugin for two main reasons:
1) We'd have to fork and maintain the entire base logic as they will remove it in an upcoming release.
2) We'd have to fork and maintain Doctrine (the jsdoc parser).

Considering most of our users use this pl

[2018-12-04 03:16] #154 closed

[2018-12-04 03:26] bradzacher opened #201 "[indent] Extend base rule to support typescript nodes"
#174 adds some tests for indent which covers some default eslint cases.

Unfortunately the rule is designed such that it completely ignores non-standard nodes (i.e. all of the new typescript nodes introduced in parser v20+).

Specifically we need to support:
- `TSTypeLiteral`
- `TSInterfaceBody`
- `TSImportEqualsDeclaration`

[2018-12-04 03:30] #152 closed

[2018-12-04 03:31] #155 closed

[2018-12-04 03:31] #126 closed

[2018-12-04 03:31] #166 closed

[2018-12-04 03:31] #189 closed

[2018-12-04 03:31] #143 closed

[2018-12-04 03:39] bradzacher commented on #151
woo hoo 🎉
We're in a great spot now thanks to @armano2
Parser is up to date now and a lot of dead code was deleted.

Only a few more things to tidy up for the 1.0.0 release!

https://github.com/bradzacher/eslint-plugin-typescript/milestone/1

[2018-12-04 03:48] armano2 commented on #151
i started adding missing informations to AST, they are going to be required to make some of tslint rules.

- distinction for declare nodes: https://github.com/JamesHenry/typescript-estree/pull/42
- type alias: https://github.com/JamesHenry/typescript-estree/pull/44

[2018-12-04 21:31] armano2 commented on #201
@bradzacher tests for this are done in parser

[2018-12-05 02:00] bradzacher commented on #201
You added the test here!
https://github.com/armano2/eslint-plugin-typescript/blob/7cf0b229504e3539fe9bf832cd0352c38234c1c9/tests/lib/rules/indent.js

However, it has valid cases only.
If we add invalid cases we can ensure that decorators/types/interfaces are correctly fixed so we can detect regressions.

[2018-12-05 15:20] jas99 commented on #57
This would actually made me move from tslint to this plugin

[2018-12-05 15:34] iliyaZelenko opened #205 "[member-ordering] conflict with TSLint ("tslint:latest" config)"
My `tslint.json`:

[code]

My `.eslintrc.js` config does not contain rule modifications for `member-ordering` rule. See [screenshot](https://i.imgur.com/P8xyY6e.png).

My code:

[code]
If I put `private propery` before `public secondPropery`, there will be an error from TSLint:

**Expected Result**

Behavior like TSLint.

Judging by [this post](https://stackoverflow.com/a/310967/5286034) TSLint us

[2018-12-05 17:00] bradzacher commented on #205
Could you please post your config for the rule?
I ran this against 0.14.0 with default config and it passed fine.

[code]

[2018-12-05 17:06] bradzacher commented on #205
Looking at your config - you have (trimmed to useful info..)

[code]

It looks like you're using `eslint-config-typescript`, [which has specifically configured the order](https://github.com/weirdpattern/eslint-config-typescript/blob/master/src/typescript.js#L54-L68) to be private then public.

If you want the ordering to match tslint - either configure tslint with that order, or overwrite the conf

[2018-12-05 17:06] #205 closed

[2018-12-05 19:14] j-f1 commented on #57
There should be some useful things available in the parser services with new-ish versions of TS-ESLint-parser.

[2018-12-06 18:24] #141 closed, assigned to nobody

[2018-12-10 21:26] chrisblossom opened #210 "Update requireindex"
Please change [`"requireindex": "~1.1.0"`](https://github.com/bradzacher/eslint-plugin-typescript/blob/0.14.0/package.json#L26) to update to minor versions `^1.1.0` and release an updated npm package. I need [1.2.0](https://github.com/stephenhandley/requireindex/pull/10) in-order to test this plugin in my eslint-config.

Thank you!

[2018-12-11 02:20] #92 closed

[2018-12-11 03:34] #133 closed

[2018-12-11 05:16] bradzacher opened #212 "[LINT] Turn on eslint-plugin-eslint-plugin/prefer-output-null"
Continuation of #209

[2018-12-11 05:17] bradzacher opened #213 "[LINT] Turn on eslint-plugin-eslint-plugin/no-deprecated-context-methods"
Continuation of #209

[2018-12-11 05:17] bradzacher opened #214 "[LINT] Turn on eslint-plugin-eslint-plugin/test-case-shorthand-strings"
Continuation of #209

[2018-12-11 05:18] bradzacher opened #215 "[LINT] Turn on eslint-plugin-eslint-plugin/report-message-format"
Continuation of #209

Use the default regex: `"^[A-Z].*\\.$"`

[2018-12-11 05:19] bradzacher opened #216 "[LINT] Turn on eslint-plugin-eslint-plugin/require-meta-type"
Continuation of #209

[2018-12-11 05:20] bradzacher opened #217 "[LINT] Turn on eslint-plugin-eslint-plugin/require-meta-docs-url"
Continuation of #209

Should use a utility function so we don't have to have the URL in every single rule def.

[2018-12-11 10:32] SevInf opened #218 "[no-unused-vars] does not work if type is only used in union in generic parameter"
**Repro**

[code]

[code]

**Expected Result**

`SomeType` and `SomeOtherType` correctly marked as used.

**Actual Result**

[code]

**Additional Info**

Works as expected if I return `SomeType | SomeOtherType` instead of `Promise` or declare the types in the same file or return single type instead of union.

**Versions**

| package                    | version |
| -------------------------- | ---

[2018-12-11 16:43] bradzacher commented on #218
Please try using `typescript-eslint-parser@^17`
This will be fixed as of 1.0.0 release

[2018-12-11 16:43] #218 closed

[2018-12-11 17:02] bradzacher commented on #201
Hmm yeah instantly can see the value in this...

I added this invalid test case, and it fails:
[code]

[2018-12-11 17:14] armano2 commented on #201
it means that its working as expected, eslint is not supporting TS nodes, and there is/was bunch of issues that nodes was handled incorrectly.

[2018-12-11 17:30] armano2 commented on #201
i can work on this after i solve issue with [array-type](https://github.com/bradzacher/eslint-plugin-typescript/pull/211#issuecomment-446059936)

[2018-12-11 18:34] bradzacher commented on #201
I'm already hacking away at it!

[2018-12-11 19:02] ficristo commented on #201
Is it possible to add a fix (if not already fixed) for https://github.com/eslint/typescript-eslint-parser/issues/577 too?

[2018-12-12 06:10] #215 closed

[2018-12-12 19:55] armano2 commented on #5
i'm going to work now on `no-misused-new`

[2018-12-13 18:39] armano2 commented on #217
@bradzacher can you close this one?

[2018-12-13 18:54] #217 closed

[2018-12-14 22:32] armano2 commented on #5
- [ ] [type-literal-delimiter]
- [ ] [no-reference-import]
- [ ] [no-redundant-jsdoc]
- [x] [no-parameter-properties]
- [x] [no-angle-bracket-type-assertion]
- [x] [interface-over-type-literal]
- [x] [interface-name]
- [ ] [callable-types]
- [ ] [array-type]
- [ ] [no-mergeable-namespace]
- [ ] [no-object-literal-type-assertion]
- [ ] [no-misused-new]
- [ ] [unified-signatures]
- [ ] [typedef-whit

[2018-12-14 23:07] armano2 commented on #210
@bradzacher can you close this one: it got fixed in #186

[2018-12-14 23:13] armano2 commented on #96
#219

[2018-12-14 23:17] chrisblossom commented on #210
I know it is updated for `1.0`/`master`, but I'm requesting an update before `1.0` is ready...possibly a `0.14.1` release. I probably should have mentioned that in the initial comment.

Also, `requireindex` is `~` instead of `^` in the PR, which gets the update...but not other non-breaking updates in the future. In my opinion, if you don't trust their semver releases, you should pin the package to

[2018-12-15 01:35] bradzacher commented on #210
@chrisblossom a healthy distrust of semver is always valid.
A lot of npm devs don't quite understand it and often publish breaking changes under minor bumps.
Some packages even choose to do that (typescript is a good example of that!)

That being said, I do prefer to `^` deps.
And requireindex is rarely ever updated anyways.

I'd like to do a patch release, but it'd be a bit of a PITA with the com

[2018-12-15 01:49] bradzacher commented on #96
closing this in favor of #201

[2018-12-15 01:49] #96 closed

[2018-12-15 01:58] armano2 commented on #210
if you are using npm you will have to use this: https://www.npmjs.com/package/npm-force-resolutions

[2018-12-15 11:41] ficristo commented on #210
@bradzacher I'm sorry to add noise but I saw you fixed  this and I'm asking if is it possible to publish a new minor release with the parser upgraded and the new indent rule?
(I'm using it on a toy project of mine so no hurry from my side)

[2018-12-15 18:47] j-f1 commented on #5
See #228

[2018-12-16 17:59] mogafk opened #235 "[no-unused-vars] enum members throw errors"
**Repro**

[code]

**Expected Result**

I expected that code does not cause errors

**Actual Result**

Throw errors:
'PHONE' is assigned a value but never used.
'EMAIL' is assigned a value but never used.

**Additional Info**
You can reproduce behavior on your computed if download repository:
https://github.com/mogafk/reproduce-enum-errors

also i create [pr](https://github.com/bradzacher/eslint-p

[2018-12-16 20:19] bradzacher commented on #210
Unfortunately not.
Master is currently loaded with breaking changes for the 1.0.0 release.

In order to publish a patch release, we'd have to branch off the 0.14.0 tag, bump the dep, test it, and then we can publish it.
We'd also have to rebase master to reorder the commits to include the 0.14.1 release.

It's a lot of work when the 1.0.0 release is very, very close!

[2018-12-16 20:30] bradzacher commented on #235
A thing to note here is that your parser version is higher than supported by v0.14.0

Though looking at it and testing against master, this is a case we missed.
Good catch!

[2018-12-16 20:51] #214 closed

[2018-12-16 21:44] bradzacher commented on #5
Thanks to @j-f1, we can now track this via https://github.com/bradzacher/eslint-plugin-typescript/blob/master/ROADMAP.md

Unless anyone has any objections, I'll close this issue.

[2018-12-16 21:46] dannyfritz commented on #5
No objection from me

[2018-12-16 21:55] aboyton opened #240 "Benchmarking against TSLint"
First up, thanks so much for all of the work on this. I've long watched (and used) this project wondering if the community would eventually converge on TSLint or ESLint for checking TypeScript code and am really excited to see the recent progress on this project.

Once this project hits 1.0 it would be interesting to benchmark it against TSLint on some largish codebases. This would not only help p

[2018-12-16 21:58] #5 closed

[2018-12-16 22:40] j-f1 opened #242 "Use snapshots for testing rules"
We should use a snapshot system to test rules with each rule having a `rule-name.ts` fixture that is run through ESLint. Config can be provided by inline `/* eslint */` comments, and any reported errors would be dumped to either a Jest snapshot or an `errors.json` file. We could either switch the test framework from Mocha to Jest or just import Jest’s [`expect`](https://yarnpkg.com/en/package/expe

[2018-12-16 23:02] #235 closed

[2018-12-16 23:45] bradzacher commented on #240
Certainly an interesting idea.

I'd be curious to see what the overall performance difference between the generic (eslint) and the specialised (tslint) is.

We have now got our ["roadmap"](https://github.com/bradzacher/eslint-plugin-typescript/blob/master/ROADMAP.md) which lists what tslint has that we don't, and what we recommend for missing features.

[2018-12-16 23:53] corbinu commented on #240
@bradzacher I have a very old project (https://gitlab.com/corbinu/eslint-typescript-smoketest) I wrote when the parser was first being written to run it on major typescript projects to find syntax where it errored out completely. I think I could adapt it to benchmarking pretty easily.

Either way I do think these projects would be good for benchmarking ( if it goes well maybe we can even try to co

[2018-12-17 00:56] #109 closed

[2018-12-17 00:59] bradzacher commented on #144
(copying comment from https://github.com/bradzacher/eslint-plugin-typescript/pull/204#issuecomment-446074939 for visibility)

-----

I went through 4 configs that I know with config for our plugin, and came up with the following recommendations by merging them together.

Please provide feedback.

## The configs for reference, with keys sorted:
<details><summary>eslint-config-typescript-recommended

[2018-12-17 01:23] #201 closed, assigned to nobody

[2018-12-17 03:40] corbinu commented on #144
@bradzacher is typescript/no-unused-vars supposed to be off?

Just a few thoughts that are totally my personal opinion

- typescript/explicit-function-return-type - I would turn off but I still think it should be recommended
- typescript/no-explicit-any - I would turn off but I still think it should be recommended
- typescript/no-angle-bracket-type-assertion - This is only for those using JSX the

[2018-12-17 10:43] j-f1 commented on #144
@corbinu For the angle bracket type assertion, I think the `as` syntax is much easier to read.

[2018-12-17 12:57] donaldpipowitch opened #243 "Short question about the scope of this project"
Hi,

something I couldn't real figure out from the README is the correct scope of the project. (Maybe this is an interesting question to answer before the `1.0.0` release? https://github.com/bradzacher/eslint-plugin-typescript/issues/151)

1. Is this project about _"just"_ adding TypeScript support to the default ESLint configs and rules? (E.g. like `typescript/no-unused-vars -> Prevent TypeScript

[2018-12-17 13:10] corbinu commented on #144
@j-f1 guess maybe it just looks natural to me as Java was the second language ;) and also because I started in TypeScript so early when this was the norm.

Either way I do think that the recommended settings should favor conforming to how typescript programmers currently format their code rather than be prescriptive as that will most likely hurt adoption. A lot of large old TypeScript projects sti

[2018-12-17 13:36] langlong149 commented on #151
any info about v1.0?  i want to use this recently.

[2018-12-17 14:01] armano2 commented on #144
recomended configuration should be default one set in rule, that user is not forced to setup configuration to make it work, for example:

[code]
`allowDeclarations` should be set by default to true

[2018-12-17 14:09] armano2 commented on #151
we are almost there, we did alot of work in this weekend, you can see remaining tasks here: https://github.com/bradzacher/eslint-plugin-typescript/milestone/1

you can help us by giving feedback for: [recommended preset](https://github.com/bradzacher/eslint-plugin-typescript/issues/144 )

[2018-12-17 14:11] langlong149 commented on #151
nice job！

| |
欧亮
邮箱：ouliang5@163.com
|

签名由 网易邮箱大师 定制

On 12/17/2018 22:09, Armano wrote:

we are almost there, we did alot of work in this weekend, you can see remaining tasks here: https://github.com/bradzacher/eslint-plugin-typescript/milestone/1

you can help us by giving feedback for: recommended preset

—
You are receiving this because you commented.
Reply to this email directly, view it on

[2018-12-17 15:34] j-f1 commented on #144
Note that Prettier doesn’t prescribe a style here — its goal is to print the syntax as-is without changing it.

[2018-12-17 15:47] corbinu commented on #144
@j-f1 guess we will have to disagree here I am basing this on prettier's "An opinionated code formatter" from their docs. I feel like that is not the goal of prettier even if it is not the current behavior of prettier

[2018-12-17 16:00] j-f1 commented on #243
I think `typescript-eslint-parser` will soon be providing access to the TypeScript instance.

I guess this plugin is for both feature parity with TSLint and any TypeScript-specific rules.

[2018-12-17 17:10] bradzacher commented on #243
Essentially this project exists for all of the above.

- We are adding support to the base eslint rules for the TS AST produced by `typescript-eslint-parser`, thus enabling the use of eslint with TS.
    - see indent, no-unused-vars, camelcase
- We are building new, custom rules to add linting around typescript specific language features.
    - see array-type, no-object-literal-type-assertion, pre

[2018-12-17 18:21] bradzacher commented on #144
@corbinu

Probably best for us to turn it on as a warning then?
I'm not sure what to do with these "best practice" types of rules. Do we turn them on because they're best practices that aren't followed a lot, or do we turn them off because they're hard for people to get used to?

Being an experienced TS dev; I personally prefer it on, but on as a warning. If only so that other devs on my team are

[2018-12-17 18:45] armano2 commented on #57
There is in typescript-eslint-parser with this: https://github.com/eslint/typescript-eslint-parser/pull/568

For testing i wrote one rule with usage of it https://github.com/bradzacher/eslint-plugin-typescript/pull/230, we have to wait for new release of parser

[2018-12-17 18:57] rndmerle opened #244 "[no-unused-vars] on enums"
**Repro**
.eslintrc.js
[code]
tsconfig.json
[code]
code :
![image](https://user-images.githubusercontent.com/79888/50108147-d06efb80-0234-11e9-8d5f-b87ec6240736.png)

**Expected Result**
no-unused-vars should not warn about individual values of enums

**Actual Result**
eslint warns about each enum's value (wheter it's actually used or not, but it's not the point)

**Additional Info**
I'm not reall

[2018-12-17 18:59] bradzacher commented on #244
Will be fixed as part of 1.0.0

Duplicate of #235
Please use the search next time

[2018-12-17 18:59] #244 closed

[2018-12-17 18:59] j-f1 commented on #244
Duplicate of #235

[2018-12-17 19:04] rndmerle commented on #244
Sorry I didn't try to search in closed issues :(
Thanks for the fast answer tho :)

[2018-12-17 19:05] ficristo commented on #210
I was thinking more to release master as is in a 0.15.0 release, since semver doesn't explicitly forbids breaking changes in 0.x.y releases. But I didn't realize 1.0.0 was close. Thank you for your time @bradzacher

[2018-12-17 19:16] bradzacher commented on #210
I would disagree with that statement:
https://semver.org/#spec-item-7

https://semver.org/#spec-item-8

I will close this as it will be resolved as part of the next release.

[2018-12-17 19:16] #210 closed

[2018-12-17 19:22] ficristo commented on #210
https://semver.org/#spec-item-4 Major version zero (0.y.z) is for initial development. Anything may change at any time. The public API should not be considered stable.

[2018-12-17 19:34] ficristo commented on #210
Good thoughts, no problem :smile:
I'll patiently wait.

[2018-12-17 19:39] chrisblossom commented on #210
This is how I've temporarily solved the issue:

``npm install --save-dev requireindex@^1 del``

[code]

[code]

[2018-12-17 19:50] j-f1 commented on #210
According to [the repo npm uses to resolve version ranges](https://github.com/npm/node-semver/blob/master/README.md#caret-ranges-123-025-004), versions starting with a 0 are handled properly @bradzacher.

[2018-12-17 21:58] ChristianStornowski commented on #144
Maybe we should considering https://github.com/palantir/tslint/issues/1142. There are a lot of discussions and implementation https://github.com/palantir/tslint/commits/master to be more aligned with https://www.npmjs.com/package/tslint-microsoft-contrib.

[2018-12-17 22:41] corbinu commented on #144
@bradzacher Thanks for the feedback makes sense as for the "best practice" types of rules I have seen a lot of eslint packages have both an "essential" config that doesn't include them and then a "recommended" that does.

[2018-12-18 00:31] armano2 commented on #151
@bradzacher @j-f1 what do you think about releasing beta version of package before we will go for 1.0.0 that we can get feedback from community about adjustments and errors?

[2018-12-18 02:01] bradzacher commented on #151
Yes indeed! I'll be first publishing `1.0.0-rc.0` to the `next` tag, so that it can be tested before the official `1.0.0` release on `latest`.

[2018-12-18 07:12] langlong149 opened #248 "eslint-plugin-typescript vs tslint vs prettier"
i use eslint , prettier and husty to format and check code. But now i want to use typescript, so there are two questions:

1. eslint-plugin-typescript vs prettier.
      'member-delimiter-style', 'indent', 'type-annotation-spacing'  rules may conflict with the prettier, whether it can only let the prettier do the formatting work and eslint-plugin-typescript  do the grammatical check. Or the defaul

[2018-12-18 07:19] bradzacher commented on #248
I can type out a longer response tomorrow morning, but a quick answer is to use prettier-eslint.
It runs prettier, then runs your eslint fixers.
It's amazing (and supports typescript).

[2018-12-18 07:41] donaldpipowitch commented on #243
Thank you both for the answers!

With _TypeScript instance_ do you mean an instance of the language server? That would be awesome as I need access to `getSuggestionDiagnostics`.

Sounds awesome. I, too, want to drop TSLint, so I can focus on one tool (and maybe create custom rules for _one_ tool instead of two). I also don't _need_ absolute feature parity, but the more the better.

I always though

[2018-12-18 07:44] #243 closed

[2018-12-18 11:06] j-f1 commented on #248
Alternatively, you can disable any formatting-related rules in ESLint.

[2018-12-18 12:52] langlong149 commented on #248
can't imagine you haven't slept yet.
Here is my thought：
I just want the `prettier` to be responsible for formatting, so I disable `eslint` and `tslint` rules about code formatting, and this can be done via `eslint-config-prettier ` and `tslint-config-prettier`.
I use  `Prettier` with a pre-commit tool`husky` :
[code]
so although `prettier-eslint` is a great tool, but not what I need.

Let's talk

[2018-12-18 13:31] armano2 commented on #248
@langlong149 i started adding rules witch require type information, but they have to wait till https://github.com/eslint/typescript-eslint-parser/pull/568 is going to be merged

some of rules listed by you are goign to be present in v1.0.0 like: [no-var-requires](https://github.com/bradzacher/eslint-plugin-typescript/blob/master/docs/rules/no-var-requires.md)

[2018-12-18 14:10] j-f1 commented on #248
@langlong149 You can also check out [our roadmap](https://github.com/bradzacher/eslint-plugin-typescript/blob/master/ROADMAP.md), which includes every built-in TSLint rule and its equivalent in the ESLint ecosystem, if one is available.

[2018-12-18 16:56] bradzacher commented on #248
So ultimately it depends on what you want your code to look like.
Prettier is a great start, but it having few options means that you mightn't like some of its styles.

Which is where eslint comes in - the formatting with eslint has more configurability because there are many rules, and each rule has its own options.

This is where `prettier-eslint[-cli]` comes in - you can use prettier as the bas

[2018-12-18 17:16] bradzacher commented on #243
I wouldn't have thought this was the case. If you know the variable is unused, it's trivial to remove it; the AST tells you exactly where the declaration starts and finishes. The fixer doesn't even have to worry about newlines and such, as other fixers will take care of that.

If the fixer was hard to maintain, then the rule itself is hard to maintain (which is a lot more true - just look at the s

[2018-12-18 17:38] j-f1 commented on #248
(currently working on adding tslint-microsoft-contrib rules to the roadmap.

[2018-12-18 19:04] #216 closed

[2018-12-18 19:27] uniqueiniquity opened #249 "Eslint-docs and prettier seem to disagree"
I'm trying to commit some work I've done on implementing a version of TSLint's `no-for-in-array`. However, upon syncing with `master`, it seems like I can't get past the test hook. Specifically, `yarn docs` keeps deleting the top of `indent.md` and `type-annotation-spacing.md`. They also seem to disagree on whether there should be line breaks in the table for the README. It seems like `eslint-docs

[2018-12-18 19:46] armano2 commented on #249
try installing new version of packages :>

[2018-12-18 19:58] aboyton commented on #248
Adding rules from [tslint-microsoft-contrib](https://github.com/Microsoft/tslint-microsoft-contrib) would be great. The other big set of TSLint rules commonly used that I'm aware of is @mgechev's [codelyzer](https://github.com/mgechev/codelyzer) for Angular.

The other TSLint rules that I personally use (other than the 9 we've written internally) are @cartant's [rxjs-tslint-rules](https://github.c

[2018-12-18 20:03] uniqueiniquity commented on #249
Didn't help 😞 Even tried deleting my `node_modules` and starting from scratch.

[2018-12-18 20:04] uniqueiniquity commented on #249
For example (the `indent` one is much longer but similar):
[code]

[2018-12-18 21:30] j-f1 commented on #249
Very strange. What OS are you on? Does running `yarn add --dev eslint-docs@latest prettier@latest` fix the issue?

[2018-12-18 21:31] uniqueiniquity commented on #249
I'm on Windows (I've had issues with that in the past...).
Will try the command now.

[2018-12-18 21:33] uniqueiniquity commented on #249
The command did not fix the issue.

[2018-12-18 21:34] armano2 commented on #249
what version of node are you using?

[2018-12-18 21:37] uniqueiniquity commented on #249
v9.11.1

[2018-12-18 21:54] armano2 commented on #249
can you send here your modified `type-annotation-spacing.md` -> i'm unable to reproduce this

[2018-12-18 22:07] uniqueiniquity commented on #249
[mangled-docs.txt](https://github.com/bradzacher/eslint-plugin-typescript/files/2692462/mangled-docs.txt)

[2018-12-18 22:14] armano2 commented on #249
ok, thank you, issue is present when file has line windows line endings for some reason `eslint-docs` is overriding big portion of code, i will try to fix that.

for now please change line ending of file to unix style `\n` instead of `\r\n`

[2018-12-18 22:23] uniqueiniquity commented on #249
That was it. Sorry for not checking that sooner, that usually seems to be the issue. I'll close this since it's not really relevant to this repo.

[2018-12-18 22:23] #249 closed

[2018-12-19 01:34] langlong149 commented on #248
@bradzacher  @j-f1 @armano2 Thank you very much for your answers. I already decided to use plan 1 and  very grateful for your amazing  efforts. Looking forward to the 1.0 version！

[2018-12-19 01:51] bradzacher commented on #248
@aboyton We haven't talked about it at a maintainer level - but just at a quick glance, my gut says that I don't think we'd go into implementing codelyzer rules.

The rules look very much angular-centric, and I think this plugin would be best as a framework/library-agnostic plugin. (similarly for rxjs-tslint-rules).

tslint-immutable is an interesting package. it's library agnostic and exists to i

[2018-12-19 01:51] #248 closed

[2018-12-19 06:02] weirdpattern opened #254 "[no-explicit-any] Adding switches for supported options"
I'd like to propose a change to an existing rule.

How about adding extra options to the `no-explicit-any` rule?
I'm thinking switches for the multiple cases that are currently supported, but my main concern is with the generic array declaration when the array is used as a rest parameter.

I'm not proposing any specifics and not doing any work on it just yet as I want to hear from the community be

[2018-12-19 06:06] bradzacher commented on #254
There aren't any individual cases any more, thanks to the new types provided by the parser!
https://github.com/bradzacher/eslint-plugin-typescript/blob/63311f3d0aca0ad93584eef69180862b8ed25bb8/lib/rules/no-explicit-any.js#L28-L33

[2018-12-19 06:58] weirdpattern commented on #254
Ha! I was doing this from memory...
I probably should stop doing that as this plugin changed a lot since we moved to the latest typescript parser... anyway... unless I'm missing something (and I apologize if I am... I've been a little busy with a toddler and a new baby on the way) I think this is still a valid request, isn't it? Would be nice to have a little more control over what gets validated

[2018-12-19 07:02] bradzacher commented on #254
Ha ha no problem.

I don't think that more config would be a bad thing, as long as it's easy to keep the current "no anys are okay" functionality.

Considering we cut the rule down 5 lines, it should be fine to add some complexity back :)

[2018-12-19 16:52] mockdeep opened #255 "[strict] False positive for modules that don't export"
**Repro**

If I have a file that has no exports and I have `sourceType: module`, it still reports a failure on the `strict` rule. I import the file for its global side effects.

[code]

[code]

**Expected Result**

No linter error should be reported.

**Actual Result**

[code]

**Additional Info**

This works as expected if I change the file to be `js`, so seems to be something related to changing

[2018-12-19 21:19] aboyton commented on #248
I wasn't suggesting everything should be put into this repo, more pointing out a few other sets of rules that use TSLint and suggesting that these projects might want to consider having an ESLint version if this really starts taking off :)

[2018-12-20 06:41] bradzacher commented on #90
Check your parser version.
Plugin version 0.14.0 only supports up to parser v17 (i think it was 17?)

[2018-12-20 06:43] JPeer264 commented on #90
Oh. I am currently on `v21`. So with the plugin version `v1` the current parser should be supported right?

[2018-12-20 07:03] bradzacher commented on #90
Yes. With the v1 release we have made it possible for us to control the parser version to help prevent mismatches.
And we have upgraded and handled the changes introduced in parser v21.

We're close to the v1 release!

[2018-12-20 09:25] wenkanglin opened #256 "[no-unused-vars] get type of a interface property"
**Repro**

[code]

[code]

**Expected Result**

The `PermissionItem` is defined and used

**Actual Result**

[eslint] 'PermissionItem' is defined but never used. (no-unused-vars)

**Additional Info**

When I import a interface and get type of a property from it used as type of a variable, it will catch eslint `no-unused-vars` error

**Versions**

| package                    | version |
| --------

[2018-12-20 12:48] armano2 commented on #256
this issue got fixed in upcoming [v1 version ](https://github.com/bradzacher/eslint-plugin-typescript/milestone/1)

[2018-12-20 16:43] #256 closed

[2018-12-21 07:39] bradzacher opened #262 "[explicit-function-return-type] Add fixer"
Once we have access to type information, we should consider adding a fixer for `explicit-function-return-type`.
As long as the parser provides the information we need, that is!!

Would be really convenient for simple types + named/interface types!
[code]

Not sure how useful it would be for unnamed object types, but could be configurable if people don't find it useful
[code]

[2018-12-21 07:40] bradzacher commented on #144
See #261

[2018-12-22 20:02] #144 closed

[2018-12-23 19:31] armano2 commented on #254
@weirdpattern we can add configuration

but we have to define, base one what we want to limit reporting, and by default all options should be enabled :)

[2018-12-23 19:37] armano2 commented on #255
@bradzacher i will take a look ono this, but i think issue is in `typescript-eslint-parser`

[2018-12-23 19:39] weirdpattern commented on #254
@armano2 I agree. I already have some options in mind, but I won't be able to work on this until after the holidays.

[2018-12-23 20:04] armano2 commented on #255
ok i did some testing and sourceType is not properly set in https://github.com/eslint/typescript-eslint-parser/blob/master/parser.js#L74
@mockdeep do you mind moving this ticket to https://github.com/eslint/typescript-eslint-parser

[2018-12-23 21:34] armano2 commented on #255
@mockdeep i make a PR for this https://github.com/eslint/typescript-eslint-parser/pull/583

[2018-12-23 22:36] j-f1 opened #264 "How should the TypeScript package be installed?"
**Repro**

[code]

[code]

**Expected Result**
Linting passes

**Actual Result**

[code]

**Additional Info**

I’ve only installed `eslint-plugin-typescript`.

**Versions**

| package                    | version |
| -------------------------- | ------- |
| `eslint-plugin-typescript` | [`bradzacher/eslint-plugin-typescript#4d85404`](https://github.com/bradzacher/eslint-plugin-typescript/commit/4d8

[2018-12-23 22:53] weirdpattern commented on #264
I thought `typescript` was a hard dependency of `typescript-eslint-parser`, turns out is marked as a peer dependency... So yes, think we need it too

[2018-12-23 22:57] armano2 commented on #264
peerDependency is fine, but had dependencie is bad, i'm using it with typescript 3.2.2 due to inifite loop issue in typescript~3.1 (build time with type checking is going down from 90sec to 6sec)

[2018-12-24 13:46] ficristo opened #266 "[no-var][semi] behaviour for interfaces and declare var"
**Repro**
See below.

[code]

[code]
[code]

**Expected Result**
No `no-var` errors.
`semi` errors for the three lines inside the curly braces. (I'm not sure if commas are valid, it seems typescript is quite lenient about them). No errors after the curly braces.

**Actual Result**
`no-var` errors.
no `semi` errors but after the last curly brace.

**Additional Info**

**Versions**

| package

[2018-12-24 13:54] ficristo opened #267 "[no-redeclare] error for declare namespace"
**Repro**
See below.

[code]

[code]

**Expected Result**
No error.

**Actual Result**
`no-redeclare` error for `declare namespace CodeMirror` line.

**Additional Info**

**Versions**

| package                    | version |
| -------------------------- | ------- |
| `eslint-plugin-typescript` | `1.0.0-rc.0` |
| `typescript-eslint-parser` | `eslint-plugin-typescript/parser` |
| `typescript`

[2018-12-24 13:59] ficristo opened #268 "[typescript/no-unused-vars] errors inside declare namespace"
**Repro**
See below

[code]

[code]

**Expected Result**
No errors.

**Actual Result**
`typescript/no-unused-vars` errors for `function countColumn` and `version`.

**Additional Info**

**Versions**

| package                    | version |
| -------------------------- | ------- |
| `eslint-plugin-typescript` | `1.0.0-rc.0` |
| `typescript-eslint-parser` | `eslint-plugin-typescript/parser` |
| `ty

[2018-12-25 03:01] armano2 commented on #151
@bradzacher do we have any tasks left to do or we just have bug fixes?

[2018-12-26 14:09] corbinu commented on #151
I would agree I have seen a lot of different formats

[2018-12-26 15:31] bradzacher commented on #151
With most of the rules, we look to the typescript docs to figure out what the advice on what is best practice. The typescript team doesn't prefix names with I https://www.typescriptlang.org/docs/handbook/interfaces.html

Using `IName` is a convention that stems from the java/c#. This makes sense in those languages, because an interface has a very specific use, so you don't want people to confuse a

[2018-12-27 00:11] mockdeep commented on #255
@armano2 excellent, thanks!

[2018-12-27 09:14] corbinu commented on #144
@bradzacher I have started using this however I am getting errors that the recommended config sets some rules as "warning" instead of "warn" for example "typescript/explicit-function-return-type"

[2018-12-27 12:15] j-f1 commented on #144
#263 @corbinu

[2018-12-29 03:36] corbinu commented on #144
@j-f1 Thanks!

[2019-01-02 02:29] scottohara opened #271 "[indent] regression with typescript-eslint-parser@20.1.0"
This issue was originally posted over at https://github.com/eslint/typescript-eslint-parser/issues/586; but it was suggested that it be raised here as well. Please refer to the original issue for additional commentary/discussion.

**Repro**

[code]
(in the code below, ^ represents a tab character)

[code]

**Expected Result**
No errors

**Actual Result**
In `typescript-eslint-parser@20.0.0`, code

[2019-01-02 16:51] bradzacher commented on #151
| 1.0.0-rc.1 is live | on the `next` tag |
| ------------- |:------ |
| Commit        | 867df2ed6fb1d8a1de1771710a9b92ee1f63977b |
| Tag           | https://github.com/bradzacher/eslint-plugin-typescript/tree/1.0.0-rc.1 |
| Release Notes | https://github.com/bradzacher/eslint-plugin-typescript/releases/tag/1.0.0-rc.1 |
| NPM           | https://www.npmjs.com/package/eslint-plugin-typescript/v/1.0.

[2019-01-02 16:58] bradzacher commented on #271
It is known that v20+ of the parser breaks when using plugin version 0.14. They released a number of breaking changes which we had to handle ourselves. IIRC the only supported version for plugin v0.14 was parser@^17.

For the plugin 1.0.0 rc - we have moved the parser dependency into our plugin, so that we can control which version users are using.

Could you please try to switch your parser to us

[2019-01-02 17:12] bradzacher commented on #266
[code]

`var`s are automatically exported in typescript namespaces ([playground](https://www.typescriptlang.org/play/index.html#src=declare%20namespace%20CodeMirror%20%7B%0A%20%20%20%20export%20var%20Doc%20%3A%20string%3B%0A%20%20%20%20var%20version%3A%20string%3B%0A%7D%0A%0ACodeMirror.version.big()%3B%0A)), so version should be marked as defined. This is an easy fix as we can just check the type

[2019-01-02 17:40] bradzacher commented on #266
As for your `semi` desired errors;

[code]
use [`typescript/member-delimiter-style`](https://github.com/bradzacher/eslint-plugin-typescript/blob/master/docs/rules/member-delimiter-style.md). This will enforce styling for your type/interface definitions.

`semi` should (and does) only error on the missing semicolon for the variable declaration.

---

[code]

`semi` correctly handles variable defini

[2019-01-02 17:42] armano2 commented on #266
some time ago i added support for declare: https://github.com/JamesHenry/typescript-estree/pull/42
but we are still waiting for https://github.com/eslint/typescript-eslint-parser/pull/584 to be merged before we can use it here

[2019-01-02 17:46] bradzacher commented on #268
[code]

`var`s are automatically exported in typescript namespaces ([playground](https://www.typescriptlang.org/play/index.html#src=declare%20namespace%20CodeMirror%20%7B%0A%20%20%20%20export%20var%20Doc%20%3A%20string%3B%0A%20%20%20%20var%20version%3A%20string%3B%0A%7D%0A%0ACodeMirror.version.big()%3B%0A)), so version should be marked as defined. This is an easy fix as we can just check the type

[2019-01-02 17:47] bradzacher commented on #268
from @armano2 https://github.com/bradzacher/eslint-plugin-typescript/issues/266#issuecomment-450930201

but we are still waiting for eslint/typescript-eslint-parser#584 to be merged before we can use it here

[2019-01-02 18:00] bradzacher commented on #266
My earlier comment was about `no-unused-vars`, when this issue was about `no-var`

I would say that the errors are correct.

[code]

You should instead use `let`/`const` in your namespace declarations ([playground](https://www.typescriptlang.org/play/index.html#src=declare%20namespace%20CodeMirror%20%7B%0A%20%20%20%20export%20let%20Doc%20%3A%20string%3B%0A%20%20%20%20const%20version%3A%20string%3B

[2019-01-02 18:52] ficristo commented on #266
My mistake: the `semi` errors were about only the first snippet, the second one, as you noted, is correct.
I'll take a look to `typescript/member-delimiter-style`.
For now I'm fine to know I should use `let` \ `const` and avoid a `declare var`.
Thank you.

[2019-01-02 18:52] #266 closed

[2019-01-02 21:09] scottohara commented on #271
Thanks @bradzacher.

Unfortunately, the problem is the same when using `"parser": "eslint-plugin-typescript/parser"`.

`package.json`
[code]

`.eslintrc.json`
[code]

`index.ts`
[code]

`output`
[code]

[2019-01-03 18:25] ChristianStornowski opened #272 "plugin:typescript/recommended is not compatible with eslint-plugin-vue"
**Repro**

https://codesandbox.io/s/rj5q83k7lo

**Expected Result**

[code]

**Actual Result**

[code]

**Additional Info**
[code]
uses:
[code]

see: https://eslint.vuejs.org/user-guide/#what-is-the-use-the-latest-vue-eslint-parser-error

**Versions**

| package                    | version |
| -------------------------- | ------- |
| `eslint-plugin-typescript` | `1.0.0-rc.1` |
| `typescript`

[2019-01-03 19:12] armano2 commented on #272
you have to override it:

[code]

[2019-01-03 19:17] bradzacher commented on #272
based on what they have written in their docs, it's a chicken and egg scenario due to a weakness in the eslint config.

Their recommended sets `"parser": "vue-eslint-parser"`, and our recommended sets `"parser": "eslint-plugin-typescript/parser"`.

Their docs say that they require you to move our parser to `parserOptions`, but it looks like it could just as easily be done the other way round too.

[2019-01-03 21:13] armano2 commented on #272
@bradzacher no its not eslint.. vue-eslint-parser is using additional parser to parse parts of script from vue files, and fallbacks if its not vue file to `parserOptions.parser`

vue files looks like this:

[code]

[2019-01-04 01:35] bradzacher commented on #272
That makes sense!
I've never used vue, so thanks for explaining.

I'll close this issue then as it's not a bug with our recommended config.

[2019-01-04 01:36] #272 closed

[2019-01-04 01:53] #271 closed

[2019-01-05 01:09] kirill-konshin opened #275 "Is it possible to include a config portion for import plugin in recommended settings?"
It would be useful if `plugin:typescript/recommended` would include a section for `eslint-plugin-import` (as recommended in their docs: https://github.com/benmosher/eslint-plugin-import#importextensions):

[code]

This code does not force user to install the plugin, but it will produce an effect if the plugin is used.

[2019-01-05 01:51] eddiemonge commented on #90
How close?

[2019-01-05 12:08] j-f1 commented on #275
Feel free to open a PR!

[2019-01-05 17:07] armano2 commented on #275
@kirill-konshin not everyone uses it, if you think that its good idea, consider making config package

[2019-01-07 18:33] kirill-konshin commented on #275
So should I open PR or not ))) it won't harm those who don't use it. How about a section named `plugin:typescript/import` or something? Or maybe having a TS config in import plugin makes more sense?

[2019-01-07 20:49] corbinu commented on #275
@kirill-konshin I do use it also. I would say I think it makes more sense to see if import is willing to have this. I know it is a bit complicated trying to tell where this all should sit.

I do also maintain my own package (https://www.npmjs.com/package/@corbinu/eslint-plugin-corbinu) for my own very complicated eslint config for my own use as @armano2 suggested so that is where I handle this

[2019-01-07 20:59] j-f1 commented on #275
I agree. Although it won’t be useful for everyone, it won’t hurt people who don’t use `eslint-plugin-import` and it’ll be helpful for people who do.

[2019-01-07 21:11] armano2 commented on #275
cases when it can break:
- what if api/rules change in `eslint-plugin-import`
- what if someone is using old version of plugin

i think it will be better if config like this will be provided by `eslint-plugin-import` instead of adding more and more external configs in here.

[2019-01-07 21:12] kirill-konshin commented on #275
On a second thought, this belongs more to import... so I've already created a ticket and PR for import plugin as well: https://github.com/benmosher/eslint-plugin-import/issues/1256, it's currently blocked by broken CI.

[2019-01-08 00:36] JoshuaKGoldberg opened #276 "Support for typed TSLint rules"
TSLint has some rules that use [typed checked rules](https://palantir.github.io/tslint/usage/type-checking/) are able to tap into the full type intelligence from TypeScript, so they can leverage the full type system in their linting.

<details><summary><em>(some higher value rules that aren't really possible without type information here...)</em></summary>
<p>

<ul>
    <li><a href="https://palant

[2019-01-08 00:39] armano2 commented on #276
@JoshuaKGoldberg we started working on rules like this :)
https://github.com/bradzacher/eslint-plugin-typescript/pull/250

[2019-01-08 00:41] JoshuaKGoldberg commented on #276
Ooh! Looking through that PR:

TIL that's available, great! Do you have docs on this? I can't find any in this repo.

[2019-01-08 00:42] j-f1 commented on #276
There’s a PR open in `typescript-eslint-parser` to add a way for rules to get type information: https://github.com/eslint/typescript-eslint-parser/pull/568. Once that’s merged, we’d appreciate help creating rules that use this type info!

[2019-01-08 00:44] JoshuaKGoldberg commented on #276
I'll close this issue in favor of making two dedicated ones: docs and rule parity. Thanks! 😍

[2019-01-08 00:44] #276 closed

[2019-01-08 00:51] j-f1 commented on #276
We don’t have docs here as far as I know, but `getTypeChecker()` returns an instance of TS’s `TypeChecker` class provided directly by TS.

[2019-01-08 00:52] JoshuaKGoldberg opened #277 "Rule parity with TSLint core"
Spinning off of #276: I'm a TSLint maintainer and would _love_ to help get all the TSLint-exclusive rules available in ESLint. For each of these, would you accept a PR adding them in?

 - [ ] [await-promise](https://palantir.github.io/tslint/rules/await-promise)
 - [ ] [completed-docs](https://palantir.github.io/tslint/rules/completed-docs)
 - [ ] [deprecation](https://palantir.github.io/tslint/ru

[2019-01-08 00:52] j-f1 commented on #276
I’m wondering if we should move all the TS+ESLint stuff to an @eslint-typescript org so changes can be released more quickly.

[2019-01-08 00:53] j-f1 commented on #277
See also https://github.com/bradzacher/eslint-plugin-typescript/blob/master/ROADMAP.md

[2019-01-08 00:54] JoshuaKGoldberg opened #278 "Docs on typed rules?"
Spinning off of #276 and as a backing documentation request to help with #277: would you mind writing some docs on how to use TypeScript-specific features _(the type checker? anything else?)_ on top of ESLint?

[2019-01-08 00:57] armano2 commented on #278
type check is available from parser service, and its same one as used in TSLint (typescript), there is additional task to do before using it, you have to get ts node from `context.parserServices.esTreeNodeToTSNodeMap`.

[code]

will return node witch you can pass to `TypeChecker`

[2019-01-08 01:00] bradzacher commented on #57
closing in favour of #277 / #278

[2019-01-08 01:00] #57 closed

[2019-01-08 02:12] uniqueiniquity commented on #277
@JoshuaKGoldberg I've been working through some of these in the process of trying to get the TypeScript repo onto ESLint. I have PRs up for a few and a few I'm still working out the details on, but I'd love some help with the rest, since I'm prioritizing the ones that TS has enabled.

[2019-01-08 02:13] uniqueiniquity commented on #278
@JoshuaKGoldberg once the PR lighting this up in `typescript-eslint-parser` gets finalized and merged, I can certainly write up some docs.

[2019-01-08 15:53] MayhemYDG opened #279 "no-explicit-any ignores generic in function defintion"
**Repro**

[code]

**Expected Result**
`any` should not be allowed there with the rule `no-explicit-any` enabled.
**Actual Result**
`any` is not detected.

**Versions**

| package                    | version |
| -------------------------- | ------- |
| `eslint-plugin-typescript` | `0.14.0` |
| `typescript-eslint-parser` | `21.0.2` |
| `typescript`               | `3.2.2` |

[2019-01-08 16:23] armano2 commented on #279
Issue is related to parser, and it got fixed in one of prs

[2019-01-08 16:50] bradzacher commented on #267
Investigating this case, it's hard for us to deal with this because it's valid typescript.

TS augments the the base named thing with the namespace, so in this case, it is completely valid code.
The question is; should this should be caught by our linter if it's completely valid code?

Concrete code:
[code]

Declarations only:
[code]
[repl](https://www.typescriptlang.org/play/index.html#src=%2F%2F

[2019-01-08 17:01] bradzacher commented on #179
Digging into this, I don't know what we can do about this without significant work.

Right now our rule sits on top of the base rule, so I think we would have to clone the base rule's code in order to handle this case properly.

This would be a good candidate for using the TS parser services *if* it reports unused vars.

This should be caught by something like `no-redeclare`. Though it won't becau

[2019-01-08 17:11] bradzacher commented on #275
Alrighty, well if it's going to be handled over in eslint-plugin-import, I'll close this issue.

[2019-01-08 17:11] #275 closed

[2019-01-08 17:17] bradzacher commented on #151
Alrighty everyone.
Once we merge #274 to fix missing cases in indent, I think we're in a good place to release 1.0.0 official.

People have been using it for a few weeks now and there aren't any [open issues outside of parser bugs](https://github.com/bradzacher/eslint-plugin-typescript/issues?q=is%3Aissue+is%3Aopen+label%3A%22bug%2Fincomplete+rule%22+sort%3Acreated-desc).

We could potentially wai

[2019-01-08 17:36] armano2 commented on #179
@bradzacher right now there is no real solution for that. It's require some work on parser before we can start.
I started doing PR with support for additional data in scope for typescript "types" but its not near finish.
When it will be done, we can start thinking about solving this.

I made this issue for now just to inform ppl that we are aware about it and we will work on it.

[2019-01-08 17:44] armano2 commented on #267
@bradzacher right now parser is not providing consistent informations about declarations, than we can't really do much for now here.

[2019-01-09 01:07] bradzacher commented on #151
| 1.0.0-rc.2 is live | on the `next` tag |
| ------------- |:------ |
| Commit        | 4245290cb2b700c21a9c38adb318d6b12b8401bb |
| Tag           | https://github.com/bradzacher/eslint-plugin-typescript/tree/1.0.0-rc.2 |
| Release Notes | https://github.com/bradzacher/eslint-plugin-typescript/releases/tag/1.0.0-rc.2 |
| NPM           | https://www.npmjs.com/package/eslint-plugin-typescript/v/1.0.

[2019-01-09 03:13] bradzacher opened #281 "[no-this-alias] Crash on declare module"
**Repro**

[code]

[code]

**Expected Result**
no error

**Actual Result**
[code]

**Versions**

| package                    | version |
| -------------------------- | ------- |
| `eslint-plugin-typescript` | `1.0.0-rc.2` |
| `typescript-eslint-parser` | `included` |
| `typescript`               | `3.1.1` |

[2019-01-09 12:13] SimenB commented on #151
Hey there! I see you're baking in the parser - will `babel-eslint` keep working like it does? I'd guess yes, the AST should still be compliant. Just making sure 🙂

This plugin allowed us to drop tslint at work, awesome job! 👍

[2019-01-09 13:05] armano2 commented on #151
@SimenB, we are improving compatibility of AST between babel and typescript-eslint-parser
- https://github.com/eslint/typescript-eslint-parser/pulls

[2019-01-09 13:14] j-f1 commented on #151
Also, our parser will have type metadata from TS, which Babel will probably never have.

[2019-01-09 14:12] bradzacher commented on #151
Unless I'm mistaken, you don't get any additional features from using babel-eslint, just support for new language features?

As long as you're not using any super duper bleeding edge JS features via babel transforms, then the typescript parser should work fine across your entire codebase (even on .js files).

[2019-01-09 14:42] SimenB commented on #151
using Flow

[2019-01-09 15:17] j-f1 commented on #151
Should we switch the `recommended` config to only use our parser on `.ts` and `.tsx` parsers?

[2019-01-09 15:17] armano2 commented on #151
@SimenB you can specify separate parsers for extensions with eslint overrides.

for js/jsx use babel for ts, tsx

[2019-01-09 15:18] armano2 commented on #151
@j-f1 typescript provides/will provide type informations for js files

[2019-01-09 15:23] SimenB commented on #151
Yeah, I'll to that. Thanks for the response!

[2019-01-09 16:06] #281 closed

[2019-01-09 17:51] bradzacher opened #283 "[no-unused-vars] False positive with JSX"
**Repro**

[code]

[code]

**Expected Result**
a-okay

**Actual Result**
`'Foo' is assigned a value but never used.`

**Versions**

| package                    | version |
| -------------------------- | ------- |
| `eslint-plugin-typescript` | `1.0.0-rc.2` |
| `typescript-eslint-parser` | `included` |
| `typescript`               | `3.1.1` |

[2019-01-09 18:34] j-f1 commented on #283
This can be fixed by the [`react/jsx-uses-vars`](https://github.com/yannickcr/eslint-plugin-react/blob/master/docs/rules/jsx-uses-vars.md) rule.

[2019-01-10 12:08] SimenB opened #284 "[explicit-function-return-type] only apply to exported functions"
I'd like to propose a **change to an existing rule**.

**Description**

It can be unnecessarily verbose to type every single functions return type, but I'd love to enforce typing of functions exported from a file. I find that then the type errors are closer to the actual error, rather than having bubbled up multiple functions, while still being less onerous to do. Thoughts?

[2019-01-10 16:55] bradzacher commented on #283
Considering `jsx` is natively supported by typescript, is this something we want to pull into our plugin?

[2019-01-10 17:40] j-f1 commented on #283
I’d say no, since the React plugin already has it covered and there’s no reason to duplicate work.

[2019-01-11 01:33] #283 closed

[2019-01-11 02:00] bradzacher commented on #284
I'm agree with the idea behind this. Explicitly typing the module boundaries is a great practice. It'd be good to have this as an option on this rule.

That being said... my issue with doing this is that it will not be easy to achieve at all because of the cases that have to be handled. To name a few:

[code]

Because we are dealing with an AST; it's rather hard to tell exactly what is exported.
M

[2019-01-11 23:02] SimenB commented on #284
I'm personally fine, at least as a first step, to just support `export (default) function` as a start - that would cover most cases I think (except for object literals, but maybe those should be interfaces anyway?).

[2019-01-12 01:28] jquense opened #285 "Consider babel-eslint for parser?"
👋 Heyo, thanks for taking the time maintaining this. It's great to have a tslint alternative. I was wondering if you'd looked taking advantage of babel's new ability to parse typescript. It might be a win to not have to maintain a separate ts to estree parser if babel-eslint gives you that for free.

[2019-01-12 02:01] armano2 commented on #285
@jquense babel typescript has a lot of issues with ast, i was patching some of them, but ast ranges are kinda broken for now..

`typescript-estree` is ~aligned with babel but there is no visitor-keys and scope analysis from babel yet for typescript.

some of latests issues:
- https://github.com/babel/babel/issues/9319
- https://github.com/babel/babel/issues/9305
- https://github.com/babel/babel/is

[2019-01-12 02:09] bradzacher commented on #285
Short answer: no, we won't switch to babel-eslint.

There's a slim chance we might support it as well, if they give us the same quality AST that we get from typescript-eslint-parser.
Though right now TBH my stance is that there's little point in increasing the maintenance cost to support two parsers with different implementations.

Long answer:
In the beginning, the parser existed solely to suppor

[2019-01-12 02:11] armano2 commented on #285
@bradzacher this plugin is going to support both of them, ast structure is almost identical, and after next ts-eslint-parser it will be almost equal...

our goal is to produce unified ast structure than if someone is going to want to use different parser he will be able to (without rules with type checking)

[2019-01-12 03:01] bradzacher commented on #284
(I think) It would be pretty trivial to support just these cases, at least to start.

- `export (default) function`
- `export (default) class` methods
- `export const = {}`
- `export default {}`

Most of those cases are just a simple matter of checking the parent (or the parent of the parent)

[2019-01-13 06:57] IlyaSemenov opened #286 "[no-object-literal-type-assertion] False positive when asserting function argument"
**Repro**

[code]

[code]

**Expected Result**

No errors.

**Actual Result**

[code]

**Additional Info**

The primary purpose of the rule (as I see it) is to prevent object assignment such as `const x = { ... } as T;` which is better rewritten as `const x: T = { ...};`, but the rule disallows all other legitimate uses.

**Versions**

| package                    | version |
| -------------------

[2019-01-13 07:22] #285 closed, assigned to nobody

[2019-01-13 12:59] j-f1 commented on #151
PR to `eslint-config-prettier` has been merged 🎉

[2019-01-13 13:04] j-f1 commented on #242
I’ll push an experimental version at some point, but my current version creates a `tests/rules` directory with a `foo.src.ts` source file for the `foo` rule and `foo.snap.ts` with a code frame for each rule containing the error message. I’m working on figuring out a way to support `messageId`s properly since ESLint doesn’t provide the data object.

[2019-01-13 18:56] kripod opened #287 "Improve integration with eslint-config-airbnb and plugins on which it depends"
Currently, I'm using the following `.eslintrc.json` file for my TypeScript React projects:

[code]

For example, it would be great if I could get rid of the `overrides` by fixing false-positives around `typescript/no-unused-vars` and [possibly co-operating with the maintainers of eslint-config-airbnb](https://github.com/airbnb/javascript/issues/1919) for changing the `react/jsx-filename-extension`

[2019-01-14 16:11] bradzacher commented on #287
If you've got some false positives for `typescript/no-unused-vars` for non-ts files, then log them as issues!
We are only extending the base rule with TS cases - so there shouldn't be any false positives for non-ts features, but if there are - we won't know if you don't let us know.

There's the option to use our recommended config, this will set the parser + plugin for you automatically (note tha

[2019-01-14 16:19] kripod commented on #287
Thank you for the insightful answer, I think there already is an open issue for false-positives without using `typescript/no-unused-vars`, but I'm providing a repo which produces several false-positives when the `"typescript/no-unused-vars": "error"` rule is removed: https://github.com/simonyiszk/schdesign-web/tree/1ee8aa87b702a1ef0473e8a553207c3a2355d128

[2019-01-14 16:19] #287 closed

[2019-01-14 20:42] NoPhaseNoKill opened #288 "[no-unused-vars][BUG] Not working with unused parameter as stated in latest update"
**Repro**

[code]

[code]

**Expected Result**
no errors
**Actual Result**
'label' is defined but never used typescript/no-unused-vars (happens for filter function)
**Additional Info**

**Versions**

| package                    | version |
| -------------------------- | ------- |
| `eslint-plugin-typescript` | `^1.0.0-rc.2` |
| `typescript-eslint-parser` | `21.0.2` |
| `typescript`

[2019-01-14 21:07] j-f1 commented on #288
Seems like this is behaving as expected, since the regular [ESLint demo](https://eslint.org/demo/#eyJ0ZXh0Ijoicm93RmllbGRzRm9yQ2FyZFxuICAgICAgLmZpbHRlcigoW2xhYmVsLCB2YWx1ZV0pID0+ICEhdmFsdWUpXG4gICAgICAubWFwKChbbGFiZWwsIHZhbHVlXSkgPT4ge1xuICAgICAgICByZXR1cm4gKFxuICAgICAgICAgIDxUYWJsZS5Sb3cga2V5PXtsYWJlbH0+XG4gICAgICAgICAgICA8VGFibGUuQ2VsbD57bGFiZWx9PC9UYWJsZS5DZWxsPlxuICAgICAgICAgICAgPFRhYmxlLkNlbG

[2019-01-14 21:14] bradzacher commented on #288
I was literally just looking at the same thing!

It's an expected error. You can fix this via using the `args` option https://eslint.org/docs/rules/no-unused-vars#args

From their examples, this is valid code:
[code]

[2019-01-14 21:15] bradzacher commented on #288
note as well, typescript's unused checker works off of prefixing with `_`.
It's a convention that I've come to like, rather than just omiting it entirely:

[code]

[2019-01-14 21:23] NoPhaseNoKill commented on #288
The key difference here is that I'm using a tuple, and the behaviour completely changes if label is removed from the parameter (ie it's being used, just under the covers). Should there be another way I code this instead? Keeping in mind I'm fairly new to Typescript.

My config is as yours states, and I'm getting the exact same error. Have also tried with your _label and this still fails

[2019-01-14 21:30] NoPhaseNoKill commented on #288
Ok cool, just tested it and it works.

This seems a little odd to be behaving this way. Let's say for instance someone comes back to refactor the code; and this parameter is now used. They have no context of what the parameter is (as it's unnamed) - and will have to unnecessarily follow through the code to figure out what's going on.

The _ syntax isn't working for me - I get same error. Is there

[2019-01-14 21:32] armano2 commented on #288
i'm using comments for that
[code]

[2019-01-14 21:38] bradzacher commented on #288
Oh man, I wasn't paying attention at all, sorry.
OFC the config I suggested won't work, because it's not a function arg, it's an array destruction.

The underscore notation only works with typescript's unused vars checks. Though you can make it work with eslint via argsIgnorePattern https://eslint.org/docs/rules/no-unused-vars#argsignorepattern

[code]

I'm going to go ahead and close this as it's

[2019-01-14 21:38] #288 closed

[2019-01-15 21:50] adidahiya commented on #286
I'm curious why you think `print({ bar: 5 } as Foo)` should be allowed and not trigger a lint failure. As per the TSLint rule documentation:

and your example demonstrates unsafe code which will break at runtime.

context: I merged the original no-object-literal-type-assertion rule into TSLint core, and I'm interested in understanding the direction of this project, especially any differences in ru

[2019-01-15 21:55] adidahiya commented on #286
Ah, sorry, I missed the `?` optional modifier in the `Foo` interface reading this the first time around. So I guess the OP code should be allowed by the linter, but it would fail TypeScript's strict null checks. I still think the lint rule should produce a failure on the following code:

[code]

[2019-01-15 23:55] bradzacher commented on #151
| 1.0.0-rc.3 is live | on the `next` tag |
| ------------- |:------ |
| Commit        | 162fddc10d6578805c6dc6b838ebcdbb7a4b336b |
| Tag           | https://github.com/bradzacher/eslint-plugin-typescript/tree/1.0.0-rc.3 |
| Release Notes | https://github.com/bradzacher/eslint-plugin-typescript/releases/tag/1.0.0-rc.3 |
| NPM           | https://www.npmjs.com/package/eslint-plugin-typescript/v/1.0.

[2019-01-17 16:24] IlyaSemenov commented on #286
Honestly I don't see why linter should be bothering with what's Typescript doing just fine by itself? What would you do if it's a more complex scenario such as below?

[code]

Simply enabling `as X` in arguments should be fine. After all, it's not what's this rule is about (per https://github.com/bradzacher/eslint-plugin-typescript/blob/master/docs/rules/no-object-literal-type-assertion.md).

[2019-01-17 17:23] bradzacher commented on #286
I'd have to test tslint in this case, as this rule is intended to be a like-for-like reimplementation of that logic. Though I suspect that this is an implementation bug.

----

This plugin exists to complement the compiler, to enforce some conventions on code that is probably 100% valid.

One *could* argue that your original code has a code smell, because it is passing more than the function signa

[2019-01-17 18:43] adidahiya commented on #286
Over the years we've generally found that there _will_ be some amount of overlap between the linter & compiler checks; it's not a black & white distinction (https://github.com/palantir/tslint/issues/4100 is just one example). I agree with @bradzacher's stated goal for this plugin: "This plugin exists to complement the compiler, to enforce some conventions on code that is probably 100% valid." The

[2019-01-17 19:53] johnwiseheart commented on #56
I think now that typescript in ESLint is becoming a lot bigger of a thing, this is worth re-visiting. @bradzacher would you support PR(s) to start converting rules to typescript?

[2019-01-17 20:05] bradzacher commented on #56
Yes and no.

On this repo specifically, no. We're getting ready to migrate this repo to the monorepo.

I definitely want to migrate this project into typescript if only because we've had a few bugs caused by types.

So once we have migrated, we can tackle this.

[2019-01-17 20:06] aboyton commented on #286
Actually I'd really like if `no-object-literal-type-assertion` could be made more powerful than the TSLint version. I wanted to turn this rule on last week to stop people writing `const x = { ... } as T;` and instead write `const x: T = { ... };` for the reasons described in the [TSLint docs](https://palantir.github.io/tslint/rules/no-object-literal-type-assertion/), but sometimes I need to `as` l

[2019-01-17 20:07] johnwiseheart commented on #56
Sounds good, going to create an issue on the monorepo regarding documenting writing rules for ts in ts, and then once this repo migrates over there we can follow it up.

[2019-01-17 20:20] bradzacher commented on #286
I'm of the opinion that you can never have enough options!

I suspect that it should by default only flag `VariableDeclarator`s (need to check TSLint's behaviour to confirm)
But I wouldn't be opposed to adding this case as an option

[2019-01-17 20:24] armano2 commented on #286
type assertion and type casing is awesome during migration of code, but when you finish you want to avoid using it, otherwise there is no point in using typescript if you just cas everything to incompatible types.

adding option is great idea (more ways to configure = better), but by default it should just warn about all of usages...

[2019-01-18 05:48] milesj opened #289 "[no-unused-vars] More missing detections"
**Repro**

Run the linter on https://github.com/milesj/beemo

[code]

Some examples of it not working:

- Type index access: https://github.com/milesj/beemo/blob/master/packages/cli/src/CLI.ts#L58

[code]

- When an imported type is re-assigned and exported: https://github.com/milesj/beemo/blob/master/packages/core/src/types.ts#L34 AND https://github.com/milesj/beemo/blob/master/packages/core/src/

[2019-01-18 05:58] bradzacher commented on #289
Hi @milesj, could you please try upgrading to `1.0.0-rc.3` and see if that works for these cases?

Also just a tip, when linking to files in your repo, instead of linking to master, link to a commit. The commit link's content won't change, but the link to master will change when you push.

[2019-01-18 10:53] j-f1 commented on #289
(you can hit `y` to switch to a permalink for the current file)

[2019-01-18 11:15] ivanvoznyakovsky commented on #151
`typescript-eslint-parser` has moved to `@typescript-eslint/parser` and will no longer receive updates like support of new versions of typescript. [proof](https://github.com/eslint/typescript-eslint-parser)

[2019-01-18 11:17] stekycz commented on #151
Hi, is it possible to change peer dependency on TypeScript package from `~3.1.1` to `>=3.1.1 < 4.0.0`? The current TypeScript package version is `3.2.4`. I would expect the first stable release to be able to be used with the latest stable releases of all peer dependencies.

[2019-01-18 11:34] j-f1 commented on #151
We’re going to be migrating this repo too @ivanvoznyakovsky.

@stekycz Well probably do that once we make sure our parser supports TypeScript 3.2.

[2019-01-18 12:57] JamesHenry commented on #151
The plugin was merged FYI, and all packages are using TypeScript 3.2 :)

[2019-01-18 13:35] SevInf commented on #289
For me, this snippet still reports errors on `1.0.0-rc.3`:

[code]

[code]

[2019-01-18 15:43] bradzacher commented on #151
I'll make a proper announcement in a short while.
But yes, this repo is going to be archived, as the project is being merged into a mono repo at https://github.com/typescript-eslint/typescript-eslint/

[2019-01-18 15:48] bradzacher commented on #151
@stekycz note that typescript doesn't completely follow true semver (they often release small breaking changes with minor version bumps), so having an open range on `3.x` could cause bugs.

[2019-01-18 16:19] armano2 commented on #286
@IlyaSemenov you should use something like this in this case
[code]

[2019-01-18 16:48] #185 closed

[2019-01-18 17:00] IlyaSemenov commented on #286
As I have told, it's an external API which I'm not designing, so I don't see how your suggestion is applicable here.

[2019-01-18 17:25] bradzacher opened #290 "The Future of eslint-plugin-typescript"
## What's Happened? (the TL;DR)

This repository is has been archived, and the package `eslint-plugin-typescript` has been deprecated.

We've moved the issues, code, and commit history to [typescript-eslint](https://github.com/typescript-eslint/typescript-eslint), and renamed the package to `@typescript-eslint/eslint-plugin`.

## Why?

As part of their [2019 H1 roadmap](https://github.com/Microsof